In [4]:
from ExploreData import ExploreData
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import typing as t
import os

In [12]:
print(os.getcwd())
ml_data_path = 'C:/Users/BrandonBrown/data/basketball/BB/ml/'

X_test = pd.read_csv(ml_data_path + 'X_test.csv')
y_test = pd.read_csv(ml_data_path + 'y_test.csv')
idx_test = pd.read_csv(ml_data_path + 'idx_test.csv')

display(X_test.sample(5, random_state=0).sort_index())
print('X_test shape:', X_test.shape)

display(y_test.sample(5, random_state=0).sort_index())
print('y_test shape:', y_test.shape)

display(idx_test.sample(5, random_state=0).sort_index())
print('idx_test shape:', idx_test.shape)

c:\Users\BrandonBrown\repos\basketball\scripts

,lag_1_MIN,lag_1_FGM_pm,lag_1_FGA_pm,lag_1_FG3M_pm,lag_1_FG3A_pm,lag_1_FTM_pm,lag_1_FTA_pm,lag_1_REB_pm,lag_1_AST_pm,lag_1_STL_pm,...,lag_1_START_POSITION_F,lag_1_START_POSITION_C,lag_1_START_POSITION_G,lag_1_comment_code_Missing,lag_1_comment_code_DNP,lag_1_comment_code_DND,lag_1_comment_code_Rare,lag_1_comment_reason_Missing,lag_1_comment_reason_Coach's Decision,lag_1_comment_reason_Rare
1400,0.391160,0.011299,0.001412,0.000000,0.000000,0.000000,0.000000,0.012712,0.002119,0.002119,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
3314,0.512155,0.030205,0.005933,0.012945,0.002697,0.001079,0.001348,0.004854,0.000000,0.000000,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
13286,0.178453,0.037152,0.006192,0.000000,0.000000,0.000000,0.000000,0.009288,0.000000,0.000000,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
28849,0.000000,0.019137,0.005456,0.005942,0.001469,0.000562,0.000763,0.008800,0.001393,0.001516,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
29279,0.637017,0.013877,0.003036,0.000000,0.000000,0.000217,0.001301,0.020815,0.000434,0.002602,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0

X_test shape: (43667, 233)

,next_0_MIN,next_1_MIN,next_2_MIN,next_3_MIN,next_4_MIN,next_0_PTS,next_1_PTS,next_2_PTS,next_3_PTS,next_4_PTS,...,next_0_BLK,next_1_BLK,next_2_BLK,next_3_BLK,next_4_BLK,next_0_TO,next_1_TO,next_2_TO,next_3_TO,next_4_TO
1400,19.300000,25.383333,17.250000,17.400000,17.400000,3.0,2.0,0.0,3.0,2.0,...,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3314,30.616667,33.783333,31.983333,30.866667,31.233333,23.0,16.0,13.0,18.0,8.0,...,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,2.0,2.0
13286,17.633333,22.633333,24.616667,25.416667,21.650000,4.0,17.0,16.0,13.0,11.0,...,0.0,2.0,0.0,3.0,1.0,1.0,1.0,0.0,0.0,3.0
28849,0.000000,0.000000,0.000000,17.116667,5.750000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
29279,36.083333,37.533333,34.283333,26.150000,33.050000,25.0,14.0,22.0,20.0,16.0,...,2.0,0.0,1.0,2.0,1.0,2.0,2.0,3.0,0.0,4.0

y_test shape: (43667, 55)

,GAME_DATE_EST,GAME_ID,TEAM_ID,PLAYER_ID,PLAYER_NAME,season
1400,2021-10-26,22100051,1610612744,2738,Andre Iguodala,2021-2022
3314,2021-11-04,22100120,1610612762,202711,Bojan Bogdanovic,2021-2022
13286,2021-12-29,22100520,1610612763,1629634,Brandon Clarke,2021-2022
28849,2022-03-29,22101133,1610612751,200746,LaMarcus Aldridge,2021-2022
29279,2022-03-31,22101150,1610612762,203497,Rudy Gobert,2021-2022

idx_test shape: (43667, 6)

In [13]:
import joblib
from sklearn.metrics import mean_squared_error
from math import sqrt

chain = joblib.load('chain_lightGBM.joblib')
yhat = chain.predict(X_test)
mse = mean_squared_error(y_test, yhat)
rmse = sqrt(mse)
print('RMSE: %f' % rmse)

RMSE: 3.748060

In [14]:
all_labels = [
    'next_0_MIN', 'next_1_MIN', 'next_2_MIN', 'next_3_MIN', 'next_4_MIN',
    'next_0_PTS', 'next_1_PTS', 'next_2_PTS', 'next_3_PTS', 'next_4_PTS',
    'next_0_FGM', 'next_1_FGM', 'next_2_FGM', 'next_3_FGM', 'next_4_FGM',
    'next_0_FGA', 'next_1_FGA', 'next_2_FGA', 'next_3_FGA', 'next_4_FGA',
    'next_0_FTM', 'next_1_FTM', 'next_2_FTM', 'next_3_FTM', 'next_4_FTM',
    'next_0_FTA', 'next_1_FTA', 'next_2_FTA', 'next_3_FTA', 'next_4_FTA',
    'next_0_REB', 'next_1_REB', 'next_2_REB', 'next_3_REB', 'next_4_REB',
    'next_0_AST', 'next_1_AST', 'next_2_AST', 'next_3_AST', 'next_4_AST',
    'next_0_STL', 'next_1_STL', 'next_2_STL', 'next_3_STL', 'next_4_STL',
    'next_0_BLK', 'next_1_BLK', 'next_2_BLK', 'next_3_BLK', 'next_4_BLK',
    'next_0_TO', 'next_1_TO', 'next_2_TO', 'next_3_TO', 'next_4_TO',
    ]

In [15]:
yhat_df = pd.DataFrame(yhat, columns=all_labels)
yhat_df = yhat_df.set_index(yhat_df.index)

display(yhat_df)
display(yhat)

,next_0_MIN,next_1_MIN,next_2_MIN,next_3_MIN,next_4_MIN,next_0_PTS,next_1_PTS,next_2_PTS,next_3_PTS,next_4_PTS,...,next_0_BLK,next_1_BLK,next_2_BLK,next_3_BLK,next_4_BLK,next_0_TO,next_1_TO,next_2_TO,next_3_TO,next_4_TO
0,19.870001,17.089327,17.101113,16.434891,13.854827,9.087510,7.493141,7.838352,7.884066,6.200793,...,0.549527,0.479336,0.535786,0.540871,0.435084,1.070681,0.926841,0.909706,0.865993,0.819545
1,28.120554,28.095127,27.470596,27.209638,26.165147,8.385075,8.400374,7.894734,7.545381,6.962634,...,0.624212,0.664449,0.617716,0.701980,0.646995,2.299048,2.523814,2.505379,2.656875,2.475024
2,18.474289,17.375150,16.942030,15.972281,12.848119,4.994083,4.577356,4.347996,4.087700,3.311585,...,0.433908,0.480988,0.565551,0.560016,0.411460,0.760251,0.756724,0.651143,0.676240,0.581488
3,18.770635,18.602895,17.866067,16.914289,13.241348,8.592284,8.268561,7.766541,7.444237,5.265129,...,0.223872,0.219521,0.233136,0.260096,0.210694,0.887674,0.905319,0.875258,0.894817,0.699801
4,33.047673,32.104862,30.489315,31.048859,30.695992,23.050091,22.814632,21.718275,23.807053,22.539510,...,0.345323,0.298650,0.321047,0.323658,0.309593,3.266777,2.911766,2.752693,2.960622,2.870863
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43662,11.745831,3.719132,0.908478,1.025327,0.562562,3.295350,0.916697,0.256289,0.285557,0.222886,...,0.165162,0.096131,0.060292,0.073100,0.077406,0.459012,0.223754,0.091699,0.048479,0.016988
43663,19.783013,14.704721,16.918849,15.111094,12.708633,7.929355,4.909703,6.086720,5.180507,4.141032,...,0.248486,0.233797,0.274463,0.289896,0.267547,0.920579,0.892776,0.882005,0.861844,0.802872
43664,10.320192,2.193754,-0.062573,1.871079,0.563334,3.955481,0.925593,0.242759,0.607662,0.335479,...,0.099306,0.047148,0.039406,0.060304,0.039712,0.600286,0.175953,0.067444,0.192006,0.076198
43665,7.266597,0.638779,0.247589,1.355688,0.415928,2.443317,0.181196,0.052176,0.452976,0.069168,...,0.135545,0.069469,0.056019,0.063980,0.088583,0.434651,0.109111,0.114378,0.149073,0.093018
43666,8.679517,1.460872,-0.780317,1.458859,0.340717,2.931914,0.430294,0.067957,0.467356,0.171273,...,0.194458,0.064076,0.070828,0.060316,0.074400,0.428958,0.119694,0.073869,0.121256,0.061615

array([[19.87000111, 17.08932728, 17.10111319, ...,  0.90970645,
         0.86599312,  0.81954493],
       [28.12055377, 28.09512721, 27.47059558, ...,  2.50537888,
         2.6568749 ,  2.47502428],
       [18.47428934, 17.37515012, 16.94202994, ...,  0.65114262,
         0.67624021,  0.58148822],
       ...,
       [10.32019231,  2.19375415, -0.06257332, ...,  0.06744352,
         0.1920058 ,  0.07619756],
       [ 7.26659679,  0.63877878,  0.24758877, ...,  0.11437792,
         0.14907336,  0.09301794],
       [ 8.67951674,  1.46087209, -0.78031687, ...,  0.07386891,
         0.12125576,  0.06161538]])

In [16]:
## Player Name - Player ID
## - Anthony Davis - 203076 - star with injury history
## - Kawhi Leonard - 202695 - star with rest days
## - Cade Cunningham - 1630595 - rookie
## - Gordon Hayward - 202330 - vet with injury history
## - Daniel Theis - 1628464 - role player
## - Austin Rivers - 203085 - role player that has bounced around
## - Nemanja Bjelica - 202357 - hot start in 2018-19
## - Kyle Lowry - 200768 - aging star
## - Chris Paul - 101108 - aging star

In [17]:
## TODO:
## save test data in a non git folder
## create a function that takes a player id and date and creates a timeseries plot comparing the actual and predicted values for the next 5 games

In [30]:
## create a function that takes a player id and date and creates a timeseries plot comparing the actual and predicted values for the next 5 games

# timeseries plot
def plot_timeseries(player_name:str, season:str, yhat_df:pd.DataFrame, y_test:pd.DataFrame, idx_test:pd.DataFrame):
    # get the index of the player id and date
    idx = idx_test[(idx_test['PLAYER_NAME'] == player_name) & (idx_test['season'] == season)].index[0]
    # get the next 5 games
    yhat_df_slice = yhat_df.iloc[idx:idx+5]
    y_test_slice = y_test.iloc[idx:idx+5]
    # plot
    fig, ax = plt.subplots(figsize=(15, 5))
    ax.plot(yhat_df_slice.index, yhat_df_slice['next_0_MIN'], label='Predicted')
    ax.plot(y_test_slice.index, y_test_slice['next_0_MIN'], label='Actual')
    ax.set_title('Minutes Played')
    ax.set_xlabel('Game')
    ax.set_ylabel('Minutes Played')
    ax.legend()
    plt.show()

    # fig, ax = plt.subplots(figsize=(15, 5))
    # ax.plot(yhat_df_slice.index, yhat_df_slice['next_0_PTS'], label='Predicted')
    # ax.plot(y_test_slice.index, y_test_slice['next_0_PTS'], label='Actual')
    # ax.set_title('Points')
    # ax.set_xlabel('Game')
    # ax.set_ylabel('Points')
    # ax.legend()
    # plt.show()


# plot_timeseries('Kawhi Leonard', '2021-2022', yhat_df, y_test, idx_test)
player_name = 'Kawhi Leonard'
season = '2021-2022'
# # idx_test[(idx_test['PLAYER_NAME'] == player_name) & (idx_test['season'] == season)].index

(idx_test['PLAYER_NAME'] == player_name).sum()
# (idx_test['season'] == season).sum()

12