In [2]:
import nba_api as nba

# Testing

In [2]:

# find player Ids 
from nba_api.stats.static import players
player_dict = players.get_players()

# Use ternary operator or write function 
bron = [player for player in player_dict if player['full_name'] == 'LeBron James'][0]
bron_id = bron['id']

#game_stats_player
#could not get DateFrom to work, just use loop with years if necessary 
from nba_api.stats.library.parameters import SeasonAll
from nba_api.stats.endpoints import playergamelog
import pandas as pd

In [3]:
# gamelog_bron = playergamelog.PlayerGameLog(player_id='2544', season = '2018') # 55 rows
gamelog_bron_all = playergamelog.PlayerGameLog(player_id='2544', season = SeasonAll.all)
df_bron_games_all = gamelog_bron_all.get_data_frames()
display(df_bron_games_all[0].head(5))
print(df_bron_games_all[0].shape)

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22022,2544,0022201228,"APR 09, 2023",LAL vs. UTA,W,33,13,25,0.520,...,5,6,6,1,1,2,0,36,20,1
1,22022,2544,0022201212,"APR 07, 2023",LAL vs. PHX,W,29,6,19,0.316,...,6,6,6,0,0,5,1,16,11,1
2,22022,2544,0022201196,"APR 05, 2023",LAL @ LAC,L,35,13,20,0.650,...,8,8,7,1,1,6,0,33,-10,1
3,22022,2544,0022201186,"APR 04, 2023",LAL @ UTA,W,38,14,27,0.519,...,5,5,6,1,1,5,2,37,-7,1
4,22022,2544,0022201171,"APR 02, 2023",LAL @ HOU,W,29,8,18,0.444,...,8,10,11,0,1,1,1,18,23,1

(1421, 27)

In [4]:
## Get all players in a season
from nba_api.stats.endpoints import leaguegamelog
gamelog_2018 = leaguegamelog.LeagueGameLog(season = '2000')
df_2018_games = gamelog_2018.get_data_frames()
display(df_2018_games[0].head(5))
print(df_2018_games[0].shape)
# print(df_2018_games[0].columns)

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22000,1610612747,LAL,Los Angeles Lakers,0020000012,2000-10-31,LAL @ POR,W,240,36,...,31,39,28,5,8,20,18,96,10,0
1,22000,1610612757,POR,Portland Trail Blazers,0020000012,2000-10-31,POR vs. LAL,L,240,34,...,19,32,18,13,1,10,28,86,-10,0
2,22000,1610612741,CHI,Chicago Bulls,0020000006,2000-10-31,CHI vs. SAC,L,240,26,...,22,29,19,8,4,20,20,81,-19,0
3,22000,1610612758,SAC,Sacramento Kings,0020000006,2000-10-31,SAC @ CHI,W,240,40,...,32,37,29,12,6,18,23,100,19,0
4,22000,1610612759,SAS,San Antonio Spurs,0020000009,2000-10-31,SAS vs. IND,W,240,33,...,32,37,17,6,4,18,22,98,13,0

(2378, 29)

In [5]:

# find team Ids
from nba_api.stats.static import teams 
teams = teams.get_teams()
GSW = [x for x in teams if x['full_name'] == 'Golden State Warriors'][0]
GSW_id = GSW['id']

#find games played by a team or player
from nba_api.stats.endpoints import leaguegamefinder
GSW_games = leaguegamefinder.LeagueGameFinder(team_id_nullable=GSW_id).get_data_frames()[0]
GSW_games

# # game play by play data 
# from nba_api.stats.endpoints import playbyplay
# pbp = playbyplay.PlayByPlay('0021900429').get_data_frames()[0]

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22023,1610612744,GSW,Golden State Warriors,1522300024,2023-07-09,GSW vs. NOP,L,201,86,...,0.839,8.0,28.0,36.0,17,4,0,15,29,-10.6
1,22023,1610612744,GSW,Golden State Warriors,1522300008,2023-07-07,GSW @ LAL,L,200,96,...,0.600,15.0,31.0,46.0,24,6,4,18,27,-5.8
2,22023,1610612744,GSW,Golden State Warriors,1322300004,2023-07-05,GSW @ CHA,W,200,98,...,0.571,13.0,28.0,41.0,21,10,3,17,22,17.2
3,22023,1610612744,GSW,Golden State Warriors,1322300003,2023-07-03,GSW @ SAC,L,201,94,...,0.824,7.0,23.0,30.0,23,3,2,17,26,-9.2
4,42022,1610612744,GSW,Golden State Warriors,0042200236,2023-05-12,GSW @ LAL,L,241,101,...,0.714,20.0,33.0,53.0,25,3,2,10,30,-21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3608,21983,1610612744,GOS,Golden State Warriors,0028300048,1983-11-05,GOS vs. NYK,W,240,102,...,0.711,25.0,18.0,43.0,20,16,4,17,27,NaN
3609,21983,1610612744,GOS,Golden State Warriors,0028300040,1983-11-03,GOS @ UTH,L,240,112,...,0.880,27.0,26.0,53.0,22,11,4,19,31,NaN
3610,21983,1610612744,GOS,Golden State Warriors,0028300029,1983-11-01,GOS @ KCK,L,240,114,...,0.750,12.0,18.0,30.0,29,15,3,16,28,NaN
3611,21983,1610612744,GOS,Golden State Warriors,0028300013,1983-10-29,GOS vs. POR,W,240,97,...,0.725,12.0,31.0,43.0,21,9,1,16,37,NaN
3612,21983,1610612744,GOS,Golden State Warriors,0028300004,1983-10-28,GOS @ SEA,W,240,110,...,0.703,21.0,26.0,47.0,26,11,2,19,34,NaN

In [6]:
## TODO: Look through endpoints and find tables that match the data we want to collect
## https://github.com/swar/nba_api/tree/master/docs/nba_api/stats/endpoints
# - playergamelog.PlayerGameLog - Obviously what we will use to crate timeseries data
# - leaguegamelog.LeagueGameLog - Join with playergamelog to fill in missing data
# - playernextngames.PlayerNextNGames - Can be useful for projections? but doesn't look to have historical
# - playerprofilev2.... - Lots of good stuff in here such as college stats
from nba_api.stats.endpoints import playerprofilev2
playerprofilev2.PlayerProfileV2(player_id='2544').get_data_frames()[0]

# - draftboard.DraftBoard - Where player was drafted

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,2544,2003-04,00,1610612739,CLE,19.0,79,79,3120,622,...,0.754,99,333,432,465,130,58,273,149,1654
1,2544,2004-05,00,1610612739,CLE,20.0,80,80,3388,795,...,0.750,111,477,588,577,177,52,262,146,2175
2,2544,2005-06,00,1610612739,CLE,21.0,79,79,3361,875,...,0.738,75,481,556,521,123,66,260,181,2478
3,2544,2006-07,00,1610612739,CLE,22.0,78,78,3190,772,...,0.698,83,443,526,470,125,55,250,171,2132
4,2544,2007-08,00,1610612739,CLE,23.0,75,74,3027,794,...,0.712,133,459,592,539,138,81,255,165,2250
5,2544,2008-09,00,1610612739,CLE,24.0,81,81,3054,789,...,0.780,106,507,613,587,137,93,241,139,2304
6,2544,2009-10,00,1610612739,CLE,25.0,76,76,2966,768,...,0.767,71,483,554,651,125,77,261,119,2258
7,2544,2010-11,00,1610612748,MIA,26.0,79,79,3063,758,...,0.759,80,510,590,554,124,50,284,163,2111
8,2544,2011-12,00,1610612748,MIA,27.0,62,62,2326,621,...,0.771,94,398,492,387,115,50,213,96,1683
9,2544,2012-13,00,1610612748,MIA,28.0,76,76,2877,765,...,0.753,97,513,610,551,129,67,226,110,2036
10,2544,2013-14,00,1610612748,MIA,29.0,77,77,2902,767,...,0.750,81,452,533,488,121,26,270,126,2089
11,2544,2014-15,00,1610612739,CLE,30.0,69,69,2493,624,...,0.710,51,365,416,511,109,49,272,135,1743
12,2544,2015-16,00,1610612739,CLE,31.0,76,76,2709,737,...,0.731,111,454,565,514,104,49,249,143,1920
13,2544,2016-17,00,1610612739,CLE,32.0,74,74,2795,736,...,0.674,97,542,639,646,92,44,303,134,1954
14,2544,2017-18,00,1610612739,CLE,33.0,82,82,3026,857,...,0.731,97,612,709,747,116,71,347,136,2251
15,2544,2018-19,00,1610612747,LAL,34.0,55,55,1937,558,...,0.665,57,408,465,454,72,33,197,94,1505
16,2544,2019-20,00,1610612747,LAL,35.0,67,67,2316,643,...,0.693,66,459,525,684,78,36,261,118,1698
17,2544,2020-21,00,1610612747,LAL,36.0,45,45,1504,422,...,0.698,29,317,346,350,48,25,168,70,1126
18,2544,2021-22,00,1610612747,LAL,37.0,56,56,2084,640,...,0.756,63,396,459,349,73,59,196,121,1695
19,2544,2022-23,00,1610612747,LAL,38.0,55,54,1954,609,...,0.768,65,392,457,375,50,32,178,88,1590

In [7]:
from nba_api.stats.endpoints import playerprofilev2
pp_bron = playerprofilev2.PlayerProfileV2(player_id='2544', per_mode36='Per36')

print('per 36 season stats')
display(pp_bron.career_totals_regular_season.get_data_frame())

print('\ncollege stats')
display(playerprofilev2.PlayerProfileV2(player_id='2544').career_totals_college_season.get_data_frame())

per 36 season stats

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,RANK_PMIN_MIN,RANK_PMIN_FGM,...,RANK_FT_PCT,RANK_PMIN_OREB,RANK_PMIN_DREB,RANK_PMIN_REB,RANK_PMIN_AST,RANK_PMIN_STL,RANK_PMIN_BLK,RANK_PMIN_TOV,RANK_PMIN_PTS,RANK_PMIN_EFF
0,2544,2005-06,00,1610612739,CLE,NR,NR,NR,1,1.0,...,53.0,34.0,12.0,12.0,7.0,12.0,30.0,1.0,2.0,7.0
1,2544,2006-07,00,1610612739,CLE,NR,NR,NR,1,14.0,...,39.0,47.0,14.0,19.0,5.0,9.0,44.0,12.0,8.0,7.0
2,2544,2007-08,00,1610612739,CLE,NR,NR,NR,1,7.0,...,54.0,58.0,14.0,21.0,4.0,5.0,18.0,2.0,2.0,5.0
3,2544,2008-09,00,1610612739,CLE,NR,NR,NR,1,2.0,...,46.0,41.0,7.0,8.0,4.0,10.0,26.0,13.0,1.0,1.0
4,2544,2009-10,00,1610612739,CLE,NR,NR,NR,1,6.0,...,51.0,48.0,5.0,7.0,4.0,7.0,6.0,3.0,4.0,1.0
5,2544,2010-11,00,1610612748,MIA,NR,NR,NR,1,9.0,...,45.0,41.0,13.0,18.0,8.0,8.0,21.0,9.0,8.0,4.0
6,2544,2011-12,00,1610612748,MIA,NR,NR,NR,1,2.0,...,46.0,15.0,4.0,9.0,10.0,4.0,37.0,4.0,1.0,1.0
7,2544,2012-13,00,1610612748,MIA,NR,NR,NR,1,3.0,...,35.0,31.0,12.0,16.0,6.0,9.0,29.0,12.0,4.0,2.0
8,2544,2013-14,00,1610612748,MIA,NR,NR,NR,1,4.0,...,26.0,92.0,15.0,26.0,15.0,8.0,43.0,9.0,2.0,2.0
9,2544,2014-15,00,1610612739,CLE,NR,NR,NR,1,2.0,...,52.0,33.0,5.0,4.0,2.0,13.0,22.0,2.0,2.0,3.0
10,2544,2015-16,00,1610612739,CLE,NR,NR,NR,1,1.0,...,46.0,20.0,7.0,6.0,3.0,5.0,16.0,5.0,5.0,1.0
11,2544,2016-17,00,1610612739,CLE,NR,NR,NR,1,1.0,...,44.0,55.0,4.0,10.0,5.0,8.0,13.0,4.0,2.0,1.0
12,2544,2017-18,00,1610612739,CLE,NR,NR,NR,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2544,2019-20,00,1610612747,LAL,NR,NR,NR,1,4.0,...,52.0,35.0,4.0,7.0,3.0,22.0,18.0,3.0,8.0,1.0
14,2544,2020-21,00,1610612747,LAL,NR,NR,NR,1,14.0,...,58.0,44.0,20.0,26.0,10.0,7.0,72.0,4.0,16.0,14.0
15,2544,2022-23,00,1610612747,LAL,NR,NR,NR,1,13.0,...,39.0,36.0,7.0,9.0,13.0,29.0,18.0,23.0,13.0,7.0

college stats

Empty DataFrame
Columns: [PLAYER_ID, LEAGUE_ID, ORGANIZATION_ID, GP, GS, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, STL, BLK, TOV, PF, PTS]
Index: []

[0 rows x 24 columns]

In [22]:
from nba_api.stats.endpoints import (
    boxscoreadvancedv2,
    drafthistory,
    leaguestandingsv3,
)


bs_adv = boxscoreadvancedv2.BoxScoreAdvancedV2(game_id='1522300008').player_stats.get_data_frame()
print(f'box score advanced (shape {bs_adv.shape})')
display(bs_adv.sample(5))

ls = leaguestandingsv3.LeagueStandingsV3(season=str(2020)).standings
data_frame = ls.get_data_frame()
print(f'league standings (shape {data_frame.shape})')
display(data_frame.sample(5))

draft_hist = drafthistory.DraftHistory().draft_history.get_data_frame()
print(f'draft history (shape {draft_hist.shape})')
display(draft_hist.sample(5))

box score advanced (shape (27, 32))

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,TM_TOV_PCT,EFG_PCT,TS_PCT,USG_PCT,E_USG_PCT,E_PACE,PACE,PACE_PER40,POSS,PIE
26,1522300008,1610612747,LAL,Los Angeles,1630590,Scotty Pippen Jr.,Scotty,,DNP - Coach's Decision,None,...,NaN,NaN,NaN,0.000,0.000,NaN,NaN,NaN,0,NaN
7,1522300008,1610612744,GSW,Golden State,1628591,Craig Sword,Craig,,,10.000000:32,...,25.0,0.00,0.174,0.154,0.156,111.37,113.92,94.94,24,-0.364
20,1522300008,1610612747,LAL,Los Angeles,1630248,Sacha Killeya-Jones,Sacha,,,12.000000:17,...,22.2,0.90,0.740,0.273,0.285,115.98,115.36,96.13,30,0.200
0,1522300008,1610612744,GSW,Golden State,1641764,Brandin Podziemski,Brandin,F,,30.000000:18,...,27.8,0.35,0.369,0.184,0.186,115.49,117.23,97.69,74,0.026
9,1522300008,1610612744,GSW,Golden State,1641884,Isiaha Mike,Isiaha,,,11.000000:23,...,0.0,1.00,1.064,0.063,0.062,111.91,118.15,98.46,27,0.186

league standings (shape (30, 89))

,LeagueID,SeasonID,TeamID,TeamCity,TeamName,TeamSlug,Conference,ConferenceRecord,PlayoffRank,ClinchIndicator,...,Nov,Dec,Score_80_Plus,Opp_Score_80_Plus,Score_Below_80,Opp_Score_Below_80,TotalPoints,OppTotalPoints,DiffTotalPoints,LeagueGamesBack
4,00,22020,1610612743,Denver,Nuggets,nuggets,West,26-16,3,- x,...,None,1-3,47-25,47-25,0-0,0-0,8284,7929,355,5.0
29,00,22020,1610612765,Detroit,Pistons,pistons,East,12-30,15,- o,...,None,0-4,20-52,20-52,0-0,0-0,7676,7998,-322,32.0
2,00,22020,1610612751,Brooklyn,Nets,nets,East,26-16,2,- x,...,None,3-2,48-24,48-24,0-0,0-0,8537,8213,324,4.0
18,00,22020,1610612759,San Antonio,Spurs,spurs,West,17-25,10,- pi,...,None,2-2,33-39,32-39,0-0,1-0,7998,8123,-125,19.0
0,00,22020,1610612755,Philadelphia,76ers,sixers,East,31-11,1,- e,...,None,4-1,49-23,49-23,0-0,0-0,8182,7780,402,3.0

draft history (shape (8257, 14))

,PERSON_ID,PLAYER_NAME,SEASON,ROUND_NUMBER,ROUND_PICK,OVERALL_PICK,DRAFT_TYPE,TEAM_ID,TEAM_CITY,TEAM_NAME,TEAM_ABBREVIATION,ORGANIZATION,ORGANIZATION_TYPE,PLAYER_PROFILE_FLAG
4039,82079,Dave Kyle,1978,6,14,124,Draft,1610612749,Milwaukee,Bucks,MIL,Cleveland State,College/University,0
6769,80265,Chuck Chevalier,1962,8,9,69,Draft,1610612738,Boston,Celtics,BOS,Boston College,College/University,0
1280,2424,Dan Dickau,2002,1,28,28,Draft,1610612758,Sacramento,Kings,SAC,Gonzaga,College/University,1
6737,80318,Tom Hatton,1962,5,3,37,Draft,1610612737,St. Louis,Hawks,STL,Dayton,College/University,0
6867,80137,Charles McNeil,1961,7,6,65,Draft,1610612744,Philadelphia,Warriors,PHW,Maryland,College/University,0

# Data Wrangling

In [13]:
# ENDPOINTS DOCUMENTATION - https://github.com/swar/nba_api/tree/master/docs/nba_api/stats/endpoints
# STATIC TABLE DOCUMENTATION - https://github.com/swar/nba_api/tree/master/docs/nba_api/stats/static

## CORE TABLES
# - nba_api.stats.static.teams.get_teams() - teams df
# - nba_api.stats.static.players.get_players() / .get_active_players() - teams players/active players
# - playerindex.PlayerIndex - get list of players, can filter by season/active/etc.
# - playergamelog.PlayerGameLog - Obviously what we will use to crate timeseries data
# - leaguegamelog.LeagueGameLog - Join with playergamelog to fill in missing data
# - teamgamelog.TeamGameLog - Why is this worse than leaguegamelog? looks similar to me

## Additional stuff
# - playerprofilev2.... - Lots of good stuff in here such as college stats
# - playernextngames.PlayerNextNGames - Can be useful for projections? but doesn't look to have historical
# - drafthistory - to get draft position?
# - GameRotation - could be useful to see who may get elevated during injury
# - leaguestandingsv3.LeagueStandingsV3.Standings - standings could be useful maybe idk
# - boxscoreadvancedv2.BoxScoreAdvancedV2 - usg% and other advanced stats

In [14]:
## TODO
## 0 Get teams - nba_api.stats.static.teams.get_teams()
## 1 Get all team game data for last 20 years
## 2 Get cumulative season stats for all players across their careers, and if they 
##   have played in the last 20 years, get their Player IDs and their career stats
## 3 For players found in step 3, get their game data for the last 20 years
## 4 Fill in game data with zeros with games found in 1 but not 2

## Main

In [8]:
## get all team data for last 20 years
from nba_api.stats.static import players, teams
from nba_api.stats.endpoints import leaguegamelog, scoreboardv2, boxscoretraditionalv2
from requests.exceptions import ConnectionError, ReadTimeout
from urllib3.exceptions import ProtocolError
from datetime import datetime
import numpy as np
import typing as t
import pandas as pd
import time

# Find player ID
player_df = pd.DataFrame(players.get_players())
display(player_df.sample(5))
print(player_df.shape)
# player_df.to_csv(data_path + 'players.csv', index=False)

# Find team ID
team_df = pd.DataFrame(teams.get_teams())
display(team_df.head())
print(team_df.shape)
# team_df.to_csv(data_path + 'teams.csv', index=False)

TEST = True
TEST_LOOPS = 2
FIRST_SEASON = team_df['year_founded'].min()
LAST_SEASON = 2022

data_path = '../data/'

MAX_RETRIES = 3
WAIT_TIME = 5

def retry_api_call(api_call, max_retries=MAX_RETRIES):
    retries = 0
    while retries < max_retries:
        try:
            return api_call()
        except (ConnectionError, ProtocolError, ReadTimeout) as e:
            print(f'Error occurred: {e}')
            retries += 1
            print(f'Retrying... (Attempt {retries}/{max_retries})')
            time.sleep(WAIT_TIME)
    raise ConnectionError(f'API call failed after {max_retries} retries.')

           id        full_name first_name last_name  is_active
3284    77792       Jim Palmer        Jim    Palmer      False
922       209       Dell Curry       Dell     Curry      False
4644   202716  Jordan Williams     Jordan  Williams      False
2840   203463     Ben McLemore        Ben  McLemore      False
3819  1630206       Jay Scrubb        Jay    Scrubb      False

(4815, 5)

,id,full_name,abbreviation,nickname,city,state,year_founded
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Georgia,1949
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946
2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970
3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002
4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966

(30, 7)

In [9]:
print(FIRST_SEASON)

1946

## Season level stats

In [2]:
## Get seasons of game log data
def get_game_log_data(year, season_type_all_star):
    lg = leaguegamelog.LeagueGameLog(season=str(year), season_type_all_star=season_type_all_star)
    data_frame = lg.get_data_frames()[0]
    data_frame['SeasonTypeAllStar'] = season_type_all_star
    return data_frame

def fetch_game_data():
    game_log_data = pd.DataFrame()
    season_types = ['Regular Season', 'Pre Season', 'Playoffs', 'All-Star']
    
    for i, year in enumerate(range(FIRST_SEASON, LAST_SEASON+1)):
        if TEST and (i >= TEST_LOOPS): break
        print(f'Getting data for {year}')
        for season_type in season_types:
            game_log_data = pd.concat([game_log_data, get_game_log_data(year, season_type)], ignore_index=True)
    
    # Export 'game_log_data' to a single CSV file
    game_log_data.to_csv(data_path + 'game_log_data.csv', index=False)
    print("Game Log Data exported to game_log_data.csv")
    return

# fetch_game_data()

## S

In [3]:
def fetch_data():
    game_log_data = pd.read_csv(data_path + 'game_log_data.csv')
    distinct_game_dates = np.sort(game_log_data['GAME_DATE'].unique())
    
    ## Get distinct_game_dates that are greater than get_max_game_date()
    distinct_game_dates = filter_game_dates(distinct_game_dates)

    for i, game_date in enumerate(distinct_game_dates):
        if TEST and (i >= TEST_LOOPS): break
        
        # Fetch and scoreboard data for the current game date
        scoreboard_data, game_ids = fetch_scoreboard_data(game_date)

        # Fetch and save player stats data for the current game date
        box_score_traditional_data = fetch_player_stats_data(game_ids, game_date)

        save_data(scoreboard_data, box_score_traditional_data, game_date)
        printer(i=i, verbage=f"Scoreboard and Box Score Data saved for {game_date}, game_ids: {game_ids}")
    return

def printer(i:int, verbage:str):
    if TEST or (i%5==0):
        current_time = datetime.now().strftime("%H:%M:%S")
        print(f'[{i}][{current_time}] {verbage}')
    return

def filter_game_dates(distinct_game_dates:list):
    try:
        scoreboard_data = pd.read_csv(data_path + 'scoreboard_data.csv')
        max_game_date = scoreboard_data['GAME_DATE_EST'].max()
        print(f'Filtering game dates to those greater than {max_game_date}')
        return distinct_game_dates[distinct_game_dates > max_game_date]
    except FileNotFoundError:
        print('No existing scoreboard_data.csv file found. Fetching all game dates.')
        return distinct_game_dates
    
def fetch_scoreboard_data(game_date) -> t.Tuple[pd.DataFrame, list]:
    def api_call():
        return scoreboardv2.ScoreboardV2(game_date=game_date).game_header.get_data_frame()

    data = retry_api_call(api_call)
    game_ids = data['GAME_ID'].unique().tolist()
    return data, game_ids

def fetch_player_stats_data(game_ids):
    player_stats_data = pd.DataFrame()
    
    def api_call(game_id):
        return boxscoretraditionalv2.BoxScoreTraditionalV2(game_id=game_id).player_stats.get_data_frame()

    for i, game_id in enumerate(game_ids):
        data = retry_api_call(lambda: api_call(game_id))
        if i==0:
            player_stats_data = data
        else:
            player_stats_data = pd.concat([player_stats_data, data], ignore_index=True)

    return player_stats_data

def save_data(scoreboard_data, box_score_traditional_data, game_date):
    # Read the existing scoreboard CSV if it exists
    try:
        existing_scoreboard_data = pd.read_csv(data_path + f'scoreboard_data.csv')
    except FileNotFoundError:
        existing_scoreboard_data = pd.DataFrame()
    
    # Read the existing box score traditional CSV if it exists
    try:
        existing_box_score_traditional_data = pd.read_csv(data_path + f'box_score_traditional_data.csv')
    except FileNotFoundError:
        existing_box_score_traditional_data = pd.DataFrame()
    
    # Append 'scoreboard_data' to the existing CSV and export to a new CSV file
    updated_scoreboard_data = pd.concat([existing_scoreboard_data, scoreboard_data], ignore_index=True)
    updated_scoreboard_data.to_csv(data_path + f'scoreboard_data.csv', index=False)

    # Append 'box_score_traditional_data' to the existing CSV and export to a new CSV file
    updated_box_score_traditional_data = pd.concat([existing_box_score_traditional_data, box_score_traditional_data], ignore_index=True)
    updated_box_score_traditional_data.to_csv(data_path + f'box_score_traditional_data.csv', index=False)
    return

# Fetch data and save to CSV files
fetch_data()

Filtering game dates to those greater than 2019-04-19T00:00:00
[0][01:09:18] Scoreboard and Box Score Data saved for 2019-04-20, game_ids: ['0041800124', '0041800154', '0041800103', '0041800173']
[5][01:09:50] Scoreboard and Box Score Data saved for 2019-04-25, game_ids: ['0041800156']
[10][01:10:21] Scoreboard and Box Score Data saved for 2019-04-30, game_ids: ['0041800202', '0041800222']
[15][01:10:48] Scoreboard and Box Score Data saved for 2019-05-05, game_ids: ['0041800214', '0041800234']
[20][01:11:20] Scoreboard and Box Score Data saved for 2019-05-10, game_ids: ['0041800226']
[25][01:11:51] Scoreboard and Box Score Data saved for 2019-05-17, game_ids: ['0041800302']
[30][01:12:17] Scoreboard and Box Score Data saved for 2019-05-23, game_ids: ['0041800305']
[35][01:12:45] Scoreboard and Box Score Data saved for 2019-06-07, game_ids: ['0041800404']
[40][01:13:28] Scoreboard and Box Score Data saved for 2019-10-05, game_ids: ['0011900005', '0011900006', '0011900007', '0011900008']
[45][01:14:48] Scoreboard and Box Score Data saved for 2019-10-10, game_ids: ['0011900030', '0011900031', '0011900032', '0011900033', '0011900034', '0011900035', '0011900036']
[50][01:16:08] Scoreboard and Box Score Data saved for 2019-10-15, game_ids: ['0011900059', '0011900060', '0011900061']
[55][01:17:48] Scoreboard and Box Score Data saved for 2019-10-23, game_ids: ['0021900003', '0021900004', '0021900005', '0021900006', '0021900007', '0021900008', '0021900009', '0021900010', '0021900011', '0021900012', '0021900013']
[60][01:19:39] Scoreboard and Box Score Data saved for 2019-10-28, game_ids: ['0021900041', '0021900042', '0021900043', '0021900044', '0021900045', '0021900046', '0021900047', '0021900048', '0021900049', '0021900050', '0021900051']
[65][01:21:26] Scoreboard and Box Score Data saved for 2019-11-02, game_ids: ['0021900077', '0021900078', '0021900079', '0021900080', '0021900081', '0021900082', '0021900083', '0021900084']
[70][01:23:07] Scoreboard and Box Score Data saved for 2019-11-07, game_ids: ['0021900112', '0021900113', '0021900114', '0021900115']
[75][01:24:56] Scoreboard and Box Score Data saved for 2019-11-12, game_ids: ['0021900146', '0021900147', '0021900148', '0021900149', '0021900150', '0021900151', '0021900152', '0021900153']
[80][01:26:37] Scoreboard and Box Score Data saved for 2019-11-17, game_ids: ['0021900183', '0021900184', '0021900185', '0021900186', '0021900187', '0021900188']
[85][01:28:26] Scoreboard and Box Score Data saved for 2019-11-22, game_ids: ['0021900215', '0021900216', '0021900217', '0021900218', '0021900219', '0021900220', '0021900221', '0021900222', '0021900223', '0021900224']
[90][01:30:28] Scoreboard and Box Score Data saved for 2019-11-27, game_ids: ['0021900253', '0021900254', '0021900255', '0021900256', '0021900257', '0021900258', '0021900259', '0021900260', '0021900261', '0021900262', '0021900263', '0021900264', '0021900265', '0021900266']
[95][01:32:25] Scoreboard and Box Score Data saved for 2019-12-03, game_ids: ['0021900299', '0021900300', '0021900301', '0021900302', '0021900303', '0021900304', '0021900305']
[100][01:34:14] Scoreboard and Box Score Data saved for 2019-12-08, game_ids: ['0021900335', '0021900336', '0021900337', '0021900338', '0021900339', '0021900340', '0021900341', '0021900342']
[105][01:35:58] Scoreboard and Box Score Data saved for 2019-12-13, game_ids: ['0021900371', '0021900372', '0021900374', '0021900373', '0021900375', '0021900376', '0021900379', '0021900377', '0021900378']
[110][01:37:40] Scoreboard and Box Score Data saved for 2019-12-18, game_ids: ['0021900407', '0021900408', '0021900409', '0021900410', '0021900411', '0021900412', '0021900414', '0021900413', '0021900415']
[115][01:39:28] Scoreboard and Box Score Data saved for 2019-12-23, game_ids: ['0021900444', '0021900445', '0021900446', '0021900447', '0021900448', '0021900449', '0021900450', '0021900451', '0021900452', '0021900453', '0021900454']
[120][01:41:14] Scoreboard and Box Score Data saved for 2019-12-29, game_ids: ['0021900486', '0021900487', '0021900488', '0021900489', '0021900490']
[125][01:42:49] Scoreboard and Box Score Data saved for 2020-01-03, game_ids: ['0021900517', '0021900518', '0021900519', '0021900520', '0021900521', '0021900522']
[130][01:44:33] Scoreboard and Box Score Data saved for 2020-01-08, game_ids: ['0021900554', '0021900555', '0021900556', '0021900557', '0021900558', '0021900559', '0021900560', '0021900561', '0021900562']
[135][01:46:07] Scoreboard and Box Score Data saved for 2020-01-13, game_ids: ['0021900591', '0021900592', '0021900593', '0021900594', '0021900595', '0021900596', '0021900597']
[140][01:47:57] Scoreboard and Box Score Data saved for 2020-01-18, game_ids: ['0021900626', '0021900627', '0021900628', '0021900629', '0021900630', '0021900631', '0021900632', '0021900633', '0021900634', '0021900635', '0021900636']
[145][01:49:39] Scoreboard and Box Score Data saved for 2020-01-23, game_ids: ['0021900666', '0021900667', '0021900668']
[150][01:51:21] Scoreboard and Box Score Data saved for 2020-01-28, game_ids: ['0021900699', '0021900702', '0021900700', '0021900703', '0021900701', '0021900704', '0021900705', '0021900706']
[155][01:52:52] Scoreboard and Box Score Data saved for 2020-02-02, game_ids: ['0021900737', '0021900738', '0021900739', '0021900740']
[160][01:54:29] Scoreboard and Box Score Data saved for 2020-02-07, game_ids: ['0021900769', '0021900770', '0021900771', '0021900772', '0021900773', '0021900774', '0021900775', '0021900776']
[165][01:56:18] Scoreboard and Box Score Data saved for 2020-02-12, game_ids: ['0021900807', '0021900808', '0021900809', '0021900810', '0021900811', '0021900812', '0021900813', '0021900814', '0021900815', '0021900816', '0021900817']
[170][01:57:41] Scoreboard and Box Score Data saved for 2020-02-22, game_ids: ['0021900835', '0021900836', '0021900837', '0021900838', '0021900839', '0021900840', '0021900841']
[175][01:59:14] Scoreboard and Box Score Data saved for 2020-02-27, game_ids: ['0021900873', '0021900874', '0021900875', '0021900876']
[180][02:01:09] Scoreboard and Box Score Data saved for 2020-03-03, game_ids: ['0021900909', '0021900910', '0021900911', '0021900912', '0021900913', '0021900914', '0021900915', '0021900916']
[185][02:03:05] Scoreboard and Box Score Data saved for 2020-03-08, game_ids: ['0021900946', '0021900947', '0021900948', '0021900949', '0021900950', '0021900951', '0021900952', '0021900953', '0021900954', '0021900955', '0021900956']
[190][02:04:26] Scoreboard and Box Score Data saved for 2020-07-23, game_ids: ['0011900105', '0011900106', '0011900107', '0011900108']

C:\Users\BrandonBrown\AppData\Local\Temp\ipykernel_16816\1194491569.py:86: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  existing_box_score_traditional_data = pd.read_csv(data_path + f'box_score_traditional_data.csv')

[195][02:05:51] Scoreboard and Box Score Data saved for 2020-07-28, game_ids: ['0011900128', '0011900129', '0011900130', '0011900131', '0011900132', '0011900133']
[200][02:07:10] Scoreboard and Box Score Data saved for 2020-08-03, game_ids: ['0021901250', '0021901251', '0021901252', '0021901253', '0021901254', '0021901255']
[205][02:08:34] Scoreboard and Box Score Data saved for 2020-08-08, game_ids: ['0021901280', '0021901281', '0021901282', '0021901283', '0021901284']
[210][02:10:01] Scoreboard and Box Score Data saved for 2020-08-13, game_ids: ['0021901308', '0021901310', '0021901311', '0021901313', '0021901314', '0021901309', '0021901312']
[215][02:10:42] Scoreboard and Box Score Data saved for 2020-08-20, game_ids: ['0041900132', '0041900172', '0041900102', '0041900142']
[220][02:11:16] Scoreboard and Box Score Data saved for 2020-08-25, game_ids: ['0041900165', '0041900155']
[225][02:11:44] Scoreboard and Box Score Data saved for 2020-09-02, game_ids: ['0041900202', '0041900177']
[230][02:12:13] Scoreboard and Box Score Data saved for 2020-09-07, game_ids: ['0041900215', '0041900233']
[235][02:12:45] Scoreboard and Box Score Data saved for 2020-09-12, game_ids: ['0041900225']
Error occurred: HTTPSConnectionPool(host='stats.nba.com', port=443): Max retries exceeded with url: /stats/scoreboardv2?DayOffset=0&GameDate=2020-09-17&LeagueID=00 (Caused by NameResolutionError("<urllib3.connection.HTTPSConnection object at 0x000002BC5F598400>: Failed to resolve 'stats.nba.com' ([Errno 11001] getaddrinfo failed)"))
Retrying... (Attempt 1/3)
Error occurred: HTTPSConnectionPool(host='stats.nba.com', port=443): Max retries exceeded with url: /stats/scoreboardv2?DayOffset=0&GameDate=2020-09-17&LeagueID=00 (Caused by NameResolutionError("<urllib3.connection.HTTPSConnection object at 0x000002BC5F598B80>: Failed to resolve 'stats.nba.com' ([Errno 11001] getaddrinfo failed)"))
Retrying... (Attempt 2/3)
[240][02:13:32] Scoreboard and Box Score Data saved for 2020-09-19, game_ids: ['0041900303']
[245][02:14:01] Scoreboard and Box Score Data saved for 2020-09-25, game_ids: ['0041900305']
[250][02:14:29] Scoreboard and Box Score Data saved for 2020-10-04, game_ids: ['0041900403']
[255][02:15:25] Scoreboard and Box Score Data saved for 2020-12-12, game_ids: ['0012000006', '0012000007', '0012000008', '0012000009', '0012000010', '0012000011', '0012000012']
[260][02:16:47] Scoreboard and Box Score Data saved for 2020-12-17, game_ids: ['0012000032', '0012000033', '0012000034', '0012000035', '0012000036', '0012000038', '0012000037']
[265][02:18:19] Scoreboard and Box Score Data saved for 2020-12-25, game_ids: ['0022000005', '0022000006', '0022000007', '0022000008', '0022000009']
[270][02:20:14] Scoreboard and Box Score Data saved for 2020-12-30, game_ids: ['0022000056', '0022000057', '0022000058', '0022000059', '0022000060', '0022000061']
[275][02:22:21] Scoreboard and Box Score Data saved for 2021-01-04, game_ids: ['0022000093', '0022000094', '0022000095', '0022000096', '0022000097', '0022000098', '0022000099', '0022000100', '0022000101']
[280][02:24:35] Scoreboard and Box Score Data saved for 2021-01-09, game_ids: ['0022000133', '0022000134', '0022000135', '0022000136', '0022000137', '0022000138', '0022000139', '0022000140']
[285][02:26:08] Scoreboard and Box Score Data saved for 2021-01-14, game_ids: ['0022000174', '0022000175', '0022000176', '0022000177', '0022000178']
[290][02:27:43] Scoreboard and Box Score Data saved for 2021-01-19, game_ids: ['0022000213', '0022000214']
[295][02:29:30] Scoreboard and Box Score Data saved for 2021-01-24, game_ids: ['0022000249', '0022000251', '0022000250', '0022000252', '0022000253', '0022000254', '0022000256']
[300][02:31:13] Scoreboard and Box Score Data saved for 2021-01-29, game_ids: ['0022000288', '0022000290', '0022000291', '0022000292', '0022000293', '0022000289', '0022000294', '0022000295', '0022000296', '0022000297']
[305][02:33:05] Scoreboard and Box Score Data saved for 2021-02-03, game_ids: ['0022000327', '0022000329', '0022000330', '0022000328', '0022000331', '0022000332', '0022000333', '0022000334', '0022000335', '0022000336']
[310][02:34:49] Scoreboard and Box Score Data saved for 2021-02-08, game_ids: ['0022000367', '0022000368', '0022000369', '0022000370', '0022000371', '0022000372', '0022000373', '0022000374']
[315][02:36:29] Scoreboard and Box Score Data saved for 2021-02-13, game_ids: ['0022000406', '0022000407', '0022000408', '0022000409', '0022000410']
[320][02:38:09] Scoreboard and Box Score Data saved for 2021-02-18, game_ids: ['0022000445', '0022000446', '0022000447']
[325][02:39:48] Scoreboard and Box Score Data saved for 2021-02-23, game_ids: ['0022000480', '0022000481', '0022000482', '0022000483', '0022000484', '0022000485', '0022000486', '0022000487', '0022000488']
[330][02:41:41] Scoreboard and Box Score Data saved for 2021-02-28, game_ids: ['0022000520', '0022000524', '0022000521', '0022000522', '0022000525', '0022000527', '0022000526', '0022000528']
[335][02:43:22] Scoreboard and Box Score Data saved for 2021-03-07, game_ids: ['0032000001']
[340][02:45:00] Scoreboard and Box Score Data saved for 2021-03-14, game_ids: ['0022000593', '0022000594', '0022000595', '0022000596', '0022000597', '0022000598', '0022000599', '0022000600', '0022000601']
[345][02:47:00] Scoreboard and Box Score Data saved for 2021-03-19, game_ids: ['0022000435', '0022000631', '0022000632', '0022000633', '0022000634', '0022000635', '0022000636', '0022000637', '0022000638', '0022000639']
[350][02:49:14] Scoreboard and Box Score Data saved for 2021-03-24, game_ids: ['0022000667', '0022000668', '0022000669', '0022000670', '0022000671', '0022000672', '0022000673', '0022000674', '0022000675', '0022000676', '0022000677']
[355][02:51:09] Scoreboard and Box Score Data saved for 2021-03-29, game_ids: ['0022000707', '0022000708', '0022000709', '0022000710', '0022000711', '0022000712', '0022000713', '0022000714', '0022000715', '0022000716', '0022000717']
[360][02:52:58] Scoreboard and Box Score Data saved for 2021-04-03, game_ids: ['0022000747', '0022000748', '0022000749', '0022000750', '0022000751', '0022000752', '0022000753', '0022000754']
[365][02:54:47] Scoreboard and Box Score Data saved for 2021-04-08, game_ids: ['0022000523', '0022000784', '0022000785', '0022000786', '0022000787', '0022000788', '0022000789']
[370][02:56:42] Scoreboard and Box Score Data saved for 2021-04-13, game_ids: ['0022000817', '0022000823', '0022000824', '0022000825', '0022000826', '0022000827', '0022000828']
[375][02:58:34] Scoreboard and Box Score Data saved for 2021-04-18, game_ids: ['0022000861', '0022000862', '0022000863', '0022000362', '0022000864', '0022000865', '0022000866', '0022000867']
[380][03:00:16] Scoreboard and Box Score Data saved for 2021-04-23, game_ids: ['0022000898', '0022000899', '0022000900', '0022000901', '0022000902', '0022000225', '0022000903']
[385][03:02:20] Scoreboard and Box Score Data saved for 2021-04-28, game_ids: ['0022000933', '0022000934', '0022000935', '0022000936', '0022000937', '0022000938', '0022000939', '0022000940', '0022000941', '0022000942']
[390][03:04:16] Scoreboard and Box Score Data saved for 2021-05-03, game_ids: ['0022000975', '0022000976', '0022000977', '0022000978', '0022000979', '0022000980', '0022000981', '0022000982']
[395][03:06:12] Scoreboard and Box Score Data saved for 2021-05-08, game_ids: ['0022001012', '0022001013', '0022001014', '0022001015', '0022001016', '0022001017', '0022001018']
[400][03:08:02] Scoreboard and Box Score Data saved for 2021-05-13, game_ids: ['0022001047', '0022001048', '0022000458', '0022001049', '0022001050', '0022000255', '0022001051', '0022001052', '0022001053']
[405][03:09:36] Scoreboard and Box Score Data saved for 2021-05-23, game_ids: ['0042000101', '0042000151', '0042000131', '0042000141']
[410][03:10:11] Scoreboard and Box Score Data saved for 2021-05-28, game_ids: ['0042000133', '0042000113', '0042000173']
[415][03:10:44] Scoreboard and Box Score Data saved for 2021-06-02, game_ids: ['0042000105', '0042000135', '0042000145', '0042000175']
[420][03:11:16] Scoreboard and Box Score Data saved for 2021-06-07, game_ids: ['0042000212', '0042000231']
[425][03:11:52] Scoreboard and Box Score Data saved for 2021-06-12, game_ids: ['0042000223']
[430][03:12:25] Scoreboard and Box Score Data saved for 2021-06-17, game_ids: ['0042000216']
[435][03:12:57] Scoreboard and Box Score Data saved for 2021-06-23, game_ids: ['0042000301']
[440][03:13:30] Scoreboard and Box Score Data saved for 2021-06-28, game_ids: ['0042000315']
[445][03:14:06] Scoreboard and Box Score Data saved for 2021-07-06, game_ids: ['0042000401']
[450][03:14:36] Scoreboard and Box Score Data saved for 2021-07-20, game_ids: ['0042000406']
[455][03:16:04] Scoreboard and Box Score Data saved for 2021-10-07, game_ids: ['0012100022', '0012100023', '0012100024']
[460][03:17:20] Scoreboard and Box Score Data saved for 2021-10-12, game_ids: ['0012100046', '0012100047']
[465][03:19:11] Scoreboard and Box Score Data saved for 2021-10-20, game_ids: ['0022100003', '0022100004', '0022100005', '0022100006', '0022100007', '0022100008', '0022100009', '0022100010', '0022100011', '0022100012', '0022100013']
[470][03:21:06] Scoreboard and Box Score Data saved for 2021-10-25, game_ids: ['0022100041', '0022100042', '0022100043', '0022100044', '0022100045', '0022100046', '0022100047', '0022100048', '0022100049']
[475][03:22:55] Scoreboard and Box Score Data saved for 2021-10-30, game_ids: ['0022100078', '0022100079', '0022100080', '0022100081', '0022100082', '0022100083', '0022100084', '0022100085', '0022100086', '0022100087', '0022100088']
[480][03:24:40] Scoreboard and Box Score Data saved for 2021-11-04, game_ids: ['0022100119', '0022100120', '0022100121', '0022100122', '0022100123']
[485][03:26:12] Scoreboard and Box Score Data saved for 2021-11-09, game_ids: ['0022100155', '0022100156', '0022100157']
[490][03:27:59] Scoreboard and Box Score Data saved for 2021-11-14, game_ids: ['0022100192', '0022100193', '0022100194', '0022100195', '0022100196', '0022100197', '0022100198']
[495][03:29:45] Scoreboard and Box Score Data saved for 2021-11-19, game_ids: ['0022100230', '0022100231', '0022100232', '0022100233', '0022100234', '0022100235', '0022100236', '0022100237', '0022100238']
[500][03:31:39] Scoreboard and Box Score Data saved for 2021-11-24, game_ids: ['0022100267', '0022100268', '0022100269', '0022100270', '0022100271', '0022100272', '0022100273', '0022100274', '0022100275', '0022100276', '0022100277', '0022100278', '0022100279']
[505][03:33:19] Scoreboard and Box Score Data saved for 2021-11-30, game_ids: ['0022100314', '0022100315', '0022100316', '0022100317', '0022100318']
[510][03:34:54] Scoreboard and Box Score Data saved for 2021-12-05, game_ids: ['0022100349', '0022100350', '0022100351', '0022100352']
[515][03:36:39] Scoreboard and Box Score Data saved for 2021-12-10, game_ids: ['0022100382', '0022100383', '0022100384', '0022100385', '0022100386', '0022100387', '0022100388', '0022100389', '0022100390']
[520][03:38:20] Scoreboard and Box Score Data saved for 2021-12-15, game_ids: ['0022100417', '0022100418', '0022100419', '0022100420', '0022100421', '0022100422', '0022100423', '0022100424', '0022100425', '0022100426', '0022100427']
[525][03:39:48] Scoreboard and Box Score Data saved for 2021-12-20, game_ids: ['0022100457', '0022100459', '0022100460', '0022100461', '0022100462', '0022100463']
[530][03:41:33] Scoreboard and Box Score Data saved for 2021-12-26, game_ids: ['0022100493', '0022100494', '0022100495', '0022100496', '0022100497', '0022100498', '0022100499', '0022100500']
[535][03:43:16] Scoreboard and Box Score Data saved for 2021-12-31, game_ids: ['0022100529', '0022100530', '0022100531', '0022100532', '0022100533', '0022100534', '0022100535', '0022100536', '0022100537', '0022100538']
[540][03:45:21] Scoreboard and Box Score Data saved for 2022-01-05, game_ids: ['0022100567', '0022100568', '0022100569', '0022100570', '0022100571', '0022100572', '0022100573', '0022100574', '0022100575', '0022100576', '0022100577']
[545][03:47:07] Scoreboard and Box Score Data saved for 2022-01-10, game_ids: ['0022100607', '0022100608', '0022100609', '0022100610', '0022100711', '0022100486', '0022100611']
[550][03:48:56] Scoreboard and Box Score Data saved for 2022-01-15, game_ids: ['0022100641', '0022100642', '0022100643', '0022100644', '0022100645', '0022100646', '0022100647', '0022100648', '0022100649', '0022100650']
[555][03:50:31] Scoreboard and Box Score Data saved for 2022-01-20, game_ids: ['0022100681', '0022100682', '0022100683']
[560][03:52:17] Scoreboard and Box Score Data saved for 2022-01-25, game_ids: ['0022100454', '0022100714', '0022100715', '0022100716', '0022100717', '0022100718', '0022100719', '0022100720', '0022100721']
[565][03:54:16] Scoreboard and Box Score Data saved for 2022-01-30, game_ids: ['0022100751', '0022100752', '0022100753', '0022100754', '0022100755', '0022100756', '0022100757', '0022100758']
[570][03:56:17] Scoreboard and Box Score Data saved for 2022-02-04, game_ids: ['0022100787', '0022100788', '0022100789', '0022100790', '0022100792', '0022100793', '0022100794', '0022100791', '0022100795']
[575][03:57:56] Scoreboard and Box Score Data saved for 2022-02-09, game_ids: ['0022100825', '0022100826', '0022100827', '0022100828', '0022100829', '0022100830']
[580][03:59:46] Scoreboard and Box Score Data saved for 2022-02-14, game_ids: ['0022100858', '0022100859', '0022100860', '0022100861', '0022100862', '0022100863', '0022100864', '0022100865', '0022100866']
[585][04:01:38] Scoreboard and Box Score Data saved for 2022-02-24, game_ids: ['0022100889', '0022100890', '0022100891', '0022100892', '0022100893', '0022100894', '0022100895']
[590][04:03:37] Scoreboard and Box Score Data saved for 2022-03-01, game_ids: ['0022100926', '0022100927', '0022100928', '0022100929', '0022100930', '0022100931']
[595][04:05:32] Scoreboard and Box Score Data saved for 2022-03-06, game_ids: ['0022100960', '0022100961', '0022100963', '0022100964', '0022100965', '0022100962', '0022100967', '0022100966']
[600][04:07:25] Scoreboard and Box Score Data saved for 2022-03-11, game_ids: ['0022100995', '0022100996', '0022100997', '0022100998', '0022100999', '0022101000', '0022101001', '0022101002', '0022101003', '0022101004']
[605][04:09:24] Scoreboard and Box Score Data saved for 2022-03-16, game_ids: ['0022101033', '0022101034', '0022101035', '0022101036', '0022101037', '0022101038', '0022101039', '0022101040', '0022101041', '0022101042', '0022101043', '0022101044']
[610][04:11:05] Scoreboard and Box Score Data saved for 2022-03-21, game_ids: ['0022101071', '0022101072', '0022101073', '0022101074', '0022101075', '0022101076', '0022101077', '0022101078', '0022101079']
[615][04:12:56] Scoreboard and Box Score Data saved for 2022-03-26, game_ids: ['0022101107', '0022101108', '0022101109', '0022101110', '0022101111', '0022101112', '0022101113', '0022101114']
[620][04:14:36] Scoreboard and Box Score Data saved for 2022-03-31, game_ids: ['0022101147', '0022100452', '0022101148', '0022101149', '0022101150']
[625][04:16:45] Scoreboard and Box Score Data saved for 2022-04-06, game_ids: ['0022101190', '0022101191', '0022101192', '0022101193', '0022101194', '0022101195']
[630][04:18:28] Scoreboard and Box Score Data saved for 2022-04-16, game_ids: ['0042100171', '0042100151', '0042100131', '0042100161']
[635][04:19:06] Scoreboard and Box Score Data saved for 2022-04-21, game_ids: ['0042100153', '0042100173', '0042100163']
[640][04:19:41] Scoreboard and Box Score Data saved for 2022-04-26, game_ids: ['0042100105', '0042100155', '0042100145']
[645][04:20:16] Scoreboard and Box Score Data saved for 2022-05-02, game_ids: ['0042100201', '0042100221']
[650][04:20:51] Scoreboard and Box Score Data saved for 2022-05-08, game_ids: ['0042100224', '0042100204']
[655][04:21:26] Scoreboard and Box Score Data saved for 2022-05-13, game_ids: ['0042100216', '0042100236']
[660][04:22:00] Scoreboard and Box Score Data saved for 2022-05-20, game_ids: ['0042100312']
[665][04:22:34] Scoreboard and Box Score Data saved for 2022-05-25, game_ids: ['0042100305']
[670][04:23:07] Scoreboard and Box Score Data saved for 2022-06-05, game_ids: ['0042100402']
[675][04:23:43] Scoreboard and Box Score Data saved for 2022-09-30, game_ids: ['0012200001', '0012200002']
[680][04:24:55] Scoreboard and Box Score Data saved for 2022-10-05, game_ids: ['0012200018', '0012200019', '0012200020', '0012200021', '0012200022']
[685][04:26:13] Scoreboard and Box Score Data saved for 2022-10-10, game_ids: ['0012200043', '0012200044', '0012200045', '0012200046']
[690][04:27:33] Scoreboard and Box Score Data saved for 2022-10-18, game_ids: ['0022200001', '0022200002']
[695][04:29:20] Scoreboard and Box Score Data saved for 2022-10-23, game_ids: ['0022200037', '0022200038', '0022200039', '0022200040', '0022200041', '0022200042', '0022200043']
[700][04:31:11] Scoreboard and Box Score Data saved for 2022-10-28, game_ids: ['0022200070', '0022200071', '0022200072', '0022200073', '0022200074', '0022200075', '0022200076', '0022200077', '0022200078', '0022200079', '0022200080']
[705][04:32:55] Scoreboard and Box Score Data saved for 2022-11-02, game_ids: ['0022200108', '0022200107', '0022200109', '0022200110', '0022200111', '0022200112', '0022200113', '0022200114', '0022200115', '0022200116', '0022200117']
[710][04:34:32] Scoreboard and Box Score Data saved for 2022-11-07, game_ids: ['0022200144', '0022200145', '0022200146', '0022200147', '0022200148', '0022200149', '0022200150', '0022200151', '0022200152', '0022200153', '0022200154', '0022200155', '0022200156', '0022200157', '0022200158']
[715][04:36:15] Scoreboard and Box Score Data saved for 2022-11-13, game_ids: ['0022200192', '0022200193', '0022200194', '0022200195', '0022200196', '0022200197', '0022200198']
[720][04:37:51] Scoreboard and Box Score Data saved for 2022-11-18, game_ids: ['0022200224', '0022200225', '0022200226', '0022200227', '0022200228', '0022200229', '0022200230', '0022200231', '0022200232', '0022200233', '0022200234']
[725][04:39:49] Scoreboard and Box Score Data saved for 2022-11-23, game_ids: ['0022200260', '0022200261', '0022200262', '0022200263', '0022200264', '0022200265', '0022200266', '0022200267', '0022200268', '0022200269', '0022200270', '0022200271']
[730][04:41:40] Scoreboard and Box Score Data saved for 2022-11-29, game_ids: ['0022200309', '0022200310', '0022200311']
[735][04:43:33] Scoreboard and Box Score Data saved for 2022-12-04, game_ids: ['0022200344', '0022200345', '0022200346', '0022200347', '0022200348', '0022200349', '0022200350', '0022200351']
[740][04:45:02] Scoreboard and Box Score Data saved for 2022-12-09, game_ids: ['0022200377', '0022200378', '0022200379', '0022200380', '0022200381', '0022200382', '0022200383', '0022200384', '0022200385', '0022200386']
[745][04:46:48] Scoreboard and Box Score Data saved for 2022-12-14, game_ids: ['0022200414', '0022200415', '0022200416', '0022200417', '0022200418', '0022200419', '0022200420', '0022200421', '0022200422', '0022200423']
[750][04:48:27] Scoreboard and Box Score Data saved for 2022-12-19, game_ids: ['0022200452', '0022200453', '0022200454', '0022200455', '0022200456', '0022200457', '0022200458', '0022200459', '0022200460']
[755][04:50:04] Scoreboard and Box Score Data saved for 2022-12-25, game_ids: ['0022200493', '0022200494', '0022200495', '0022200496', '0022200497']
[760][04:51:52] Scoreboard and Box Score Data saved for 2022-12-30, game_ids: ['0022200529', '0022200530', '0022200531', '0022200532', '0022200533', '0022200534', '0022200535', '0022200536', '0022200537']
[765][04:53:23] Scoreboard and Box Score Data saved for 2023-01-04, game_ids: ['0022200564', '0022200565', '0022200566', '0022200567', '0022200568', '0022200569', '0022200570', '0022200571', '0022200572', '0022200573', '0022200574', '0022200575']

In [65]:
import numpy as np
game_log_data = pd.read_csv(data_path + 'game_log_data.csv')
game_log_data
distinct_game_dates = np.sort(game_log_data['GAME_DATE'].unique()) # .sort()
# distinct_game_dates.sort

# ## Get distinct_game_dates that are greater than get_max_game_date()
distinct_game_dates = filter_game_dates(distinct_game_dates)
distinct_game_dates

No existing game_log_data.csv file found. Fetching all game dates.

array(['2000-10-31', '2000-11-01', '2000-11-02', ..., '2023-06-07',
       '2023-06-09', '2023-06-12'], dtype=object)

In [50]:
pd.read_csv(data_path + f'scoreboard_data_{2000}.csv')

,GAME_DATE_EST,GAME_SEQUENCE,GAME_ID,GAME_STATUS_ID,GAME_STATUS_TEXT,GAMECODE,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,LIVE_PERIOD,LIVE_PC_TIME,NATL_TV_BROADCASTER_ABBREVIATION,HOME_TV_BROADCASTER_ABBREVIATION,AWAY_TV_BROADCASTER_ABBREVIATION,LIVE_PERIOD_TIME_BCAST,ARENA_NAME,WH_STATUS,WNBA_COMMISSIONER_FLAG
0,2000-10-31T00:00:00,1,20000002,3,Final,20001031/CLENJN,1610612751,1610612739,2000,4,NaN,NaN,NaN,NaN,Q4 -,IZOD Center,1,0
1,2000-10-31T00:00:00,2,20000003,3,Final,20001031/WASORL,1610612753,1610612764,2000,4,NaN,NaN,NaN,NaN,Q4 -,Amway Arena,1,0
2,2000-10-31T00:00:00,3,20000004,3,Final,20001031/CHHATL,1610612737,1610612766,2000,4,NaN,NaN,NaN,NaN,Q4 -,Philips Arena,1,0
3,2000-10-31T00:00:00,4,20000001,3,Final,20001031/PHINYK,1610612752,1610612755,2000,4,NaN,NaN,NaN,NaN,Q4 -,Madison Square Garden,1,0
4,2000-10-31T00:00:00,5,20000005,3,Final,20001031/DETTOR,1610612761,1610612765,2000,4,NaN,NaN,NaN,NaN,Q4 -,Air Canada Centre,1,0
5,2000-10-31T00:00:00,6,20000007,3,Final,20001031/MILDAL,1610612742,1610612749,2000,4,NaN,NaN,NaN,NaN,Q4 -,Reunion Arena,1,0
6,2000-10-31T00:00:00,7,20000006,3,Final,20001031/SACCHI,1610612741,1610612758,2000,4,NaN,NaN,NaN,NaN,Q4 -,United Center,1,0
7,2000-10-31T00:00:00,8,20000008,3,Final,20001031/MINHOU,1610612745,1610612750,2000,4,NaN,NaN,NaN,NaN,Q4 -,Compaq Center,1,0
8,2000-10-31T00:00:00,9,20000009,3,Final,20001031/INDSAS,1610612759,1610612754,2000,4,NaN,NaN,NaN,NaN,Q4 -,Alamodome,1,0
9,2000-10-31T00:00:00,10,20000010,3,Final,20001031/LACUTA,1610612762,1610612746,2000,4,NaN,NaN,NaN,NaN,Q4 -,EnergySolutions Arena,1,0
10,2000-10-31T00:00:00,11,20000011,3,Final,20001031/PHXGSW,1610612744,1610612756,2000,4,NaN,NaN,NaN,NaN,Q4 -,ORACLE Arena,1,0
11,2000-10-31T00:00:00,12,20000012,3,Final,20001031/LALPOR,1610612757,1610612747,2000,4,NaN,NaN,NaN,NaN,Q4 -,Moda Center,1,0
12,2000-10-31T00:00:00,13,20000013,3,Final,20001031/SEAVAN,1610612763,1610612760,2000,4,NaN,NaN,NaN,NaN,Q4 -,GM Place,1,0
13,2000-11-01T00:00:00,1,20000014,3,Final,20001101/DETBOS,1610612738,1610612765,2000,4,NaN,NaN,NaN,NaN,Q4 -,TD Garden,1,0
14,2000-11-01T00:00:00,2,20000015,3,Final,20001101/TORPHI,1610612755,1610612761,2000,4,NaN,NaN,NaN,NaN,Q4 -,Wachovia Center,1,0
15,2000-11-01T00:00:00,3,20000016,3,Final,20001101/ORLMIA,1610612748,1610612753,2000,4,NaN,NaN,NaN,NaN,Q4 -,AmericanAirlines Arena,1,0
16,2000-11-01T00:00:00,4,20000017,3,Final,20001101/WASCHH,1610612766,1610612764,2000,4,NaN,NaN,NaN,NaN,Q4 -,Spectrum Center,1,0
17,2000-11-01T00:00:00,5,20000018,3,Final,20001101/SACCLE,1610612739,1610612758,2000,6,NaN,NaN,NaN,NaN,Q6 -,Quicken Loans Arena,1,0
18,2000-11-01T00:00:00,6,20000019,3,Final,20001101/UTALAL,1610612747,1610612762,2000,4,NaN,NaN,NaN,NaN,Q4 -,STAPLES Center,1,0
19,2000-11-01T00:00:00,7,20000020,3,Final,20001101/DENSEA,1610612760,1610612743,2000,4,NaN,NaN,NaN,NaN,Q4 -,KeyArena,1,0
20,2000-11-02T00:00:00,1,20000021,3,Final,20001102/ATLNYK,1610612752,1610612737,2000,4,NaN,NaN,NaN,NaN,Q4 -,Madison Square Garden,1,0
21,2000-11-02T00:00:00,2,20000022,3,Final,20001102/INDDAL,1610612742,1610612754,2000,4,NaN,NaN,NaN,NaN,Q4 -,Reunion Arena,1,0
22,2000-11-02T00:00:00,3,20000023,3,Final,20001102/MILHOU,1610612745,1610612749,2000,4,NaN,NaN,NaN,NaN,Q4 -,Compaq Center,1,0
23,2000-11-02T00:00:00,4,20000024,3,Final,20001102/MINSAS,1610612759,1610612750,2000,4,NaN,NaN,NaN,NaN,Q4 -,Alamodome,1,0
24,2000-11-02T00:00:00,5,20000025,3,Final,20001102/GSWDEN,1610612743,1610612744,2000,4,NaN,NaN,NaN,NaN,Q4 -,Pepsi Center,1,0
25,2000-11-02T00:00:00,6,20000026,3,Final,20001102/PORPHX,1610612756,1610612757,2000,4,NaN,ESPN3D,NaN,NaN,Q4 - ESPN3D,US Airways Center,1,0
26,2000-11-02T00:00:00,7,20000027,3,Final,20001102/VANLAC,1610612746,1610612763,2000,4,NaN,NaN,NaN,NaN,Q4 -,STAPLES Center,1,0
27,2000-11-03T00:00:00,1,20000028,3,Final,20001103/TORBOS,1610612738,1610612761,2000,4,NaN,NaN,NaN,NaN,Q4 -,TD Garden,1,0
28,2000-11-03T00:00:00,2,20000029,3,Final,20001103/NYKWAS,1610612764,1610612752,2000,4,NaN,NaN,NaN,NaN,Q4 -,Capital One Arena,1,0
29,2000-11-03T00:00:00,3,20000030,3,Final,20001103/PHIORL,1610612753,1610612755,2000,4,NaN,NaN,NaN,NaN,Q4 -,Amway Arena,1,0
30,2000-11-03T00:00:00,4,20000031,3,Final,20001103/MIACHH,1610612766,1610612748,2000,4,NaN,NaN,NaN,NaN,Q4 -,Spectrum Center,1,0
31,2000-11-03T00:00:00,5,20000032,3,Final,20001103/SACDET,1610612765,1610612758,2000,4,NaN,NaN,NaN,NaN,Q4 -,Palace of Auburn Hills,1,0
32,2000-11-03T00:00:00,6,20000033,3,Final,20001103/NJNCHI,1610612741,1610612751,2000,4,NaN,NaN,NaN,NaN,Q4 -,United Center,1,0
33,2000-11-04T00:00:00,1,20000034,3,Final,20001104/CHHNJN,1610612751,1610612766,2000,4,NaN,NaN,NaN,NaN,Q4 -,IZOD Center,1,0
34,2000-11-04T00:00:00,2,20000035,3,Final,20001104/PHIMIA,1610612748,1610612755,2000,4,NaN,NaN,NaN,NaN,Q4 -,AmericanAirlines Arena,1,0
35,2000-11-04T00:00:00,3,20000036,3,Final,20001104/ORLATL,1610612737,1610612753,2000,4,NaN,ESPN3D,NaN,NaN,Q4 - ESPN3D,Philips Arena,1,0
36,2000-11-04T00:00:00,4,20000037,3,Final,20001104/WASTOR,1610612761,1610612764,2000,4,NaN,NaN,NaN,NaN,Q4 -,Air Canada Centre,1,0
37,2000-11-04T00:00:00,5,20000038,3,Final,20001104/BOSCLE,1610612739,1610612738,2000,4,NaN,NaN,NaN,NaN,Q4 -,Quicken Loans Arena,1,0
38,2000-11-04T00:00:00,6,20000039,3,Final,20001104/CHIIND,1610612754,1610612741,2000,4,NaN,NaN,NaN,NaN,Q4 -,Bankers Life Fieldhouse,1,0
39,2000-11-04T00:00:00,7,20000040,3,Final,20001104/DETMIL,1610612749,1610612765,2000,4,NaN,NaN,NaN,NaN,Q4 -,BMO Harris Bradley Center,1,0
40,2000-11-04T00:00:00,8,20000041,3,Final,20001104/SACMIN,1610612750,1610612758,2000,4,NaN,NaN,NaN,NaN,Q4 -,Target Center,1,0
41,2000-11-04T00:00:00,9,20000042,3,Final,20001104/UTADAL,1610612742,1610612762,2000,4,NaN,NaN,NaN,NaN,Q4 -,Reunion Arena,1,0
42,2000-11-04T00:00:00,10,20000043,3,Final,20001104/PHXDEN,1610612743,1610612756,2000,4,NaN,NaN,NaN,NaN,Q4 -,Pepsi Center,1,0
43,2000-11-04T00:00:00,11,20000044,3,Final,20001104/HOULAC,1610612746,1610612745,2000,4,NaN,NaN,NaN,NaN,Q4 -,STAPLES Center,1,0
44,2000-11-04T00:00:00,12,20000045,3,Final,20001104/SASGSW,1610612744,1610612759,2000,4,NaN,NaN,NaN,NaN,Q4 -,ORACLE Arena,1,0
45,2000-11-04T00:00:00,13,20000046,3,Final,20001104/PORSEA,1610612760,1610612757,2000,4,NaN,NaN,NaN,NaN,Q4 -,KeyArena,1,0
46,2000-11-04T00:00:00,14,20000047,3,Final,20001104/LALVAN,1610612763,1610612747,2000,4,NaN,NaN,NaN,NaN,Q4 -,GM Place,1,0
47,2000-11-05T00:00:00,1,20000048,3,Final,20001105/HOUPHX,1610612756,1610612745,2000,4,NaN,NaN,NaN,NaN,Q4 -,US Airways Center,1,0
48,2000-11-05T00:00:00,2,20000049,3,Final,20001105/LACLAL,1610612747,1610612746,2000,4,NaN,NaN,NaN,NaN,Q4 -,STAPLES Center,1,0

In [44]:
def get_game_log_data(year, season_type_all_star):
    lg = leaguegamelog.LeagueGameLog(season=str(year), season_type_all_star=season_type_all_star)
    data_frame = lg.get_data_frames()[0]
    data_frame['SeasonTypeAllStar'] = season_type_all_star
    return data_frame

game_log_data = pd.DataFrame()
season_types = ['Regular Season', 'Pre Season', 'Playoffs', 'All-Star']

for i, year in enumerate(range(FIRST_SEASON, LAST_SEASON+1)):
    if TEST and (i >= TEST_LOOPS): break
    print(f'Getting data for {year}')
    for season_type in season_types:
        game_log_data = pd.concat([game_log_data, get_game_log_data(year, season_type)], ignore_index=True)

print('\nTeam Game Data')
print(f'Shape: {game_log_data.shape}')
display(game_log_data.head())

print('\nNOTE: Both season and season type are in the SEASON_ID column, so we can use that to filter')
display(game_log_data.groupby(['SEASON_ID', 'SeasonTypeAllStar']).size().head(5))

Getting data for 2000
Getting data for 2001
Getting data for 2002
Getting data for 2003
Getting data for 2004
Getting data for 2005
Getting data for 2006
Getting data for 2007
Getting data for 2008
Getting data for 2009
Getting data for 2010
Getting data for 2011
Getting data for 2012
Getting data for 2013
Getting data for 2014
Getting data for 2015
Getting data for 2016
Getting data for 2017
Getting data for 2018
Getting data for 2019
Getting data for 2020
Getting data for 2021
Getting data for 2022

Team Game Data
Shape: (62446, 30)

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,...,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE,SeasonTypeAllStar
0,22000,1610612745,HOU,Houston Rockets,0020000008,2000-10-31,HOU vs. MIN,L,240,34,...,38,18,9,7,18,17,98,-8,0,Regular Season
1,22000,1610612749,MIL,Milwaukee Bucks,0020000007,2000-10-31,MIL @ DAL,L,240,33,...,51,16,6,7,20,27,93,-4,0,Regular Season
2,22000,1610612766,CHH,Charlotte Hornets,0020000004,2000-10-31,CHH @ ATL,W,240,35,...,44,16,7,6,17,23,106,24,0,Regular Season
3,22000,1610612744,GSW,Golden State Warriors,0020000011,2000-10-31,GSW vs. PHX,W,240,32,...,55,18,11,5,21,22,96,2,0,Regular Season
4,22000,1610612747,LAL,Los Angeles Lakers,0020000012,2000-10-31,LAL @ POR,W,240,36,...,39,28,5,8,20,18,96,10,0,Regular Season

NOTE: Both season and season type are in the SEASON_ID column, so we can use that to filter

SEASON_ID  SeasonTypeAllStar
12005      Pre Season           226
12006      Pre Season           242
12007      Pre Season           212
12008      Pre Season           220
12009      Pre Season           236
dtype: int64

In [45]:
# Export 'game_log_data' to a CSV file
game_log_data.to_csv(data_path + 'game_log_data.csv', index=False)

print("Game Log Data exported to game_log_data.csv")

Game Log Data exported to game_log_data.csv

In [46]:
# Assuming you already have the 'game_log_data' DataFrame from the previous code

# Get the distinct list of GAME_DATE
distinct_game_dates = game_log_data['GAME_DATE'].unique()

# Print the result
print(distinct_game_dates[:5])
print(f'Number of distinct game dates: {distinct_game_dates.size}')

['2000-10-31' '2000-11-01' '2000-11-02' '2000-11-03' '2000-11-04']
Number of distinct game dates: 5067

In [47]:
# Assuming you already have the 'game_log_data' DataFrame from the previous code

# Loop through each distinct GAME_DATE and pull data from the API
for i, game_date in enumerate(distinct_game_dates):
    if i%10==0: print(f'Fetching data for game_date: {game_date}')
    data = scoreboardv2.ScoreboardV2(game_date=game_date).game_header.get_data_frame()
    
    # Process the data as needed (e.g., store in a new DataFrame, analyze, etc.)
    # For example, you can concatenate the data into a new DataFrame like this:
    if i==0:
        scoreboard_data = data
    else:
        scoreboard_data = pd.concat([scoreboard_data, data], ignore_index=True)
    if TEST and (i >= TEST_LOOPS): break

# Now 'scoreboard_data' contains the data fetched from the API for all distinct GAME_DATEs
# You can perform further analysis or save the data to a CSV, etc.

print('\nGame Data')
print(f'Shape: {scoreboard_data.shape}')
display(scoreboard_data.head())

Fetching data for game_date: 2000-10-31
Fetching data for game_date: 2000-11-10
Fetching data for game_date: 2000-11-20
Fetching data for game_date: 2000-11-30
Fetching data for game_date: 2000-12-10
Fetching data for game_date: 2000-12-20
Fetching data for game_date: 2000-12-31
Fetching data for game_date: 2001-01-10
Fetching data for game_date: 2001-01-20
Fetching data for game_date: 2001-01-30
Fetching data for game_date: 2001-02-13
Fetching data for game_date: 2001-02-23
Fetching data for game_date: 2001-03-05
Fetching data for game_date: 2001-03-15
Fetching data for game_date: 2001-03-25
Fetching data for game_date: 2001-04-05
Fetching data for game_date: 2001-04-15
Fetching data for game_date: 2001-04-27
Fetching data for game_date: 2001-05-07
Fetching data for game_date: 2001-05-17
Fetching data for game_date: 2001-05-28
Fetching data for game_date: 2001-10-30
Fetching data for game_date: 2001-11-09
Fetching data for game_date: 2001-11-19
Fetching data for game_date: 2001-11-29
Fetching data for game_date: 2001-12-09
Fetching data for game_date: 2001-12-19
Fetching data for game_date: 2001-12-30
Fetching data for game_date: 2002-01-09
Fetching data for game_date: 2002-01-19
Fetching data for game_date: 2002-01-30
Fetching data for game_date: 2002-02-13
Fetching data for game_date: 2002-02-23
Fetching data for game_date: 2002-03-05
Fetching data for game_date: 2002-03-15
Fetching data for game_date: 2002-03-25
Fetching data for game_date: 2002-04-05
Fetching data for game_date: 2002-04-15
Fetching data for game_date: 2002-04-27
Fetching data for game_date: 2002-05-07
Fetching data for game_date: 2002-05-19
Fetching data for game_date: 2002-06-02
Fetching data for game_date: 2002-11-02
Fetching data for game_date: 2002-11-12
Fetching data for game_date: 2002-11-22
Fetching data for game_date: 2002-12-02
Fetching data for game_date: 2002-12-12
Fetching data for game_date: 2002-12-22
Fetching data for game_date: 2003-01-02
Fetching data for game_date: 2003-01-12
Fetching data for game_date: 2003-01-22
Fetching data for game_date: 2003-02-01
Fetching data for game_date: 2003-02-15
Fetching data for game_date: 2003-02-25
Fetching data for game_date: 2003-03-07
Fetching data for game_date: 2003-03-17
Fetching data for game_date: 2003-03-27
Fetching data for game_date: 2003-04-06
Fetching data for game_date: 2003-04-19
Fetching data for game_date: 2003-04-29
Fetching data for game_date: 2003-05-10
Fetching data for game_date: 2003-05-20
Fetching data for game_date: 2003-06-08
Fetching data for game_date: 2003-11-02
Fetching data for game_date: 2003-11-12
Fetching data for game_date: 2003-11-22
Fetching data for game_date: 2003-12-02
Fetching data for game_date: 2003-12-12
Fetching data for game_date: 2003-12-22
Fetching data for game_date: 2004-01-03
Fetching data for game_date: 2004-01-13
Fetching data for game_date: 2004-01-23
Fetching data for game_date: 2004-02-02
Fetching data for game_date: 2004-02-12
Fetching data for game_date: 2004-02-26
Fetching data for game_date: 2004-03-07
Fetching data for game_date: 2004-03-17
Fetching data for game_date: 2004-03-27
Fetching data for game_date: 2004-04-06

ConnectionError: ('Connection aborted.', ConnectionResetError(10054, 'An existing connection was forcibly closed by the remote host', None, 10054, None))

In [ ]:
# Export 'scoreboard_data' to a CSV file
scoreboard_data.to_csv(data_path + 'scoreboard_data.csv', index=False)

print("Game Data exported to scoreboard_data.csv")

Game Data exported to scoreboard_data.csv

In [ ]:
# Assuming you already have the 'scoreboard_data' DataFrame from the previous code

# Get the distinct list of GAME_DATE
distinct_game_ids = scoreboard_data['GAME_ID'].unique()

# Print the result
print(distinct_game_ids[:5])
print(f'Number of distinct game IDs: {distinct_game_ids.size}')

['0020000002' '0020000003' '0020000004' '0020000001' '0020000005']
Number of distinct game IDs: 49

In [ ]:
# Assuming you have the 'scoreboard_data' DataFrame containing data fetched from the previous API

# Loop through each distinct GAME_ID and pull data from the API
for i, game_id in enumerate(distinct_game_ids):
    if i%20==0: print(f'Fetching data for GAME_ID: {game_id}')
    data = boxscoretraditionalv2.BoxScoreTraditionalV2(game_id=game_id).player_stats.get_data_frame()
    
    # Process the data as needed (e.g., store in a new DataFrame, analyze, etc.)
    # For example, you can concatenate the data into a new DataFrame like this:
    if i==0:
        box_score_traditional_data = data
    else:
        box_score_traditional_data = pd.concat([box_score_traditional_data, data], ignore_index=True)
    if TEST and (i >= TEST_LOOPS): break

# Now 'box_score_traditional_data' contains the data fetched from the API for all distinct GAME_IDs
# You can perform further analysis or save the data to a CSV, etc.

print('\Player Traditional Box Score Data')
print(f'Shape: {box_score_traditional_data.shape}')
display(box_score_traditional_data.head())

Fetching data for GAME_ID: 0020000002
\Player Traditional Box Score Data
Shape: (144, 29)

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,0020000002,1610612739,CLE,Cleveland,441,Lamond Murray,Lamond,F,,31.000000:44,...,1.0,1.0,2.0,2.0,1.0,0.0,1.0,2.0,17.0,10.0
1,0020000002,1610612739,CLE,Cleveland,221,Clar. Weatherspoon,Clar.,F,,32.000000:58,...,3.0,11.0,14.0,0.0,3.0,1.0,1.0,3.0,8.0,13.0
2,0020000002,1610612739,CLE,Cleveland,980,Zydrunas Ilgauskas,Zydrunas,C,,12.000000:16,...,1.0,2.0,3.0,0.0,0.0,1.0,2.0,5.0,0.0,2.0
3,0020000002,1610612739,CLE,Cleveland,1723,Matt Harpring,Matt,G,,36.000000:40,...,1.0,2.0,3.0,3.0,0.0,3.0,1.0,3.0,16.0,12.0
4,0020000002,1610612739,CLE,Cleveland,1889,Andre Miller,Andre,G,,27.000000:00,...,0.0,4.0,4.0,6.0,0.0,0.0,6.0,3.0,8.0,4.0

In [ ]:
# Export 'box_score_traditional_data' to a CSV file
box_score_traditional_data.to_csv(data_path + 'box_score_traditional_data.csv', index=False)

print("Data exported to box_score_traditional_data.csv")

Data exported to box_score_traditional_data.csv

### Others

In [ ]:
## Teams list
from nba_api.stats.static import teams 
import pandas as pd
team_df = pd.DataFrame(teams.get_teams())

print('Teams')
print(f'Shape: {team_df.shape}')
display(team_df.head())

Teams
Shape: (30, 7)

,id,full_name,abbreviation,nickname,city,state,year_founded
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Georgia,1949
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946
2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970
3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002
4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966

In [22]:
## Players list
from nba_api.stats.static import players 
import pandas as pd
player_df = pd.DataFrame(players.get_players())

print('All Players')
print(f'Shape: {player_df.shape}')
display(player_df.head())

## get active players by filtering on is_active
active_players = player_df[player_df['is_active'] == True]
print('Active Players')
print(f'Shape: {active_players.shape}')
display(active_players.head())

All Players
Shape: (4815, 5)

      id            full_name first_name     last_name  is_active
0  76001       Alaa Abdelnaby       Alaa     Abdelnaby      False
1  76002      Zaid Abdul-Aziz       Zaid    Abdul-Aziz      False
2  76003  Kareem Abdul-Jabbar     Kareem  Abdul-Jabbar      False
3     51   Mahmoud Abdul-Rauf    Mahmoud    Abdul-Rauf      False
4   1505    Tariq Abdul-Wahad      Tariq   Abdul-Wahad      False

Active Players
Shape: (535, 5)

         id         full_name first_name last_name  is_active
10  1630173  Precious Achiuwa   Precious   Achiuwa       True
22   203500      Steven Adams     Steven     Adams       True
24  1628389       Bam Adebayo        Bam   Adebayo       True
29  1630534      Ochai Agbaji      Ochai    Agbaji       True
41  1630583      Santi Aldama      Santi    Aldama       True

In [23]:
from nba_api.stats.library.parameters import SeasonAll
from nba_api.stats.endpoints import playergamelog
import pandas as pd 

# gamelog_bron = playergamelog.PlayerGameLog(player_id='2544', season = '2018') # 55 rows
# date_from_nullable/date_to_nullable in format 'mm/dd/yyyy' - e.g. date_from_nullable='03/28/2021', date_to_nullable='03/28/2021'
# gamelog_bron_all = playergamelog.PlayerGameLog(player_id=2544, season = SeasonAll.all)
# df_bron_games_all = gamelog_bron_all.get_data_frames()
# display(df_bron_games_all[0].head(5))
# print(df_bron_games_all[0].shape)

def get_player_scoreboard_data(player_id):
    pg = playergamelog.PlayerGameLog(player_id=player_id, season = SeasonAll.all)
    data_frame = pg.get_data_frames()[0]
    return data_frame

player_scoreboard_data = pd.DataFrame()
season_types = ['Regular Season', 'Pre Season', 'Playoffs', 'All-Star']

for player_id in active_players['id'][:5]:
    print(f'Getting data for {player_id}')
    player_scoreboard_data = pd.concat([player_scoreboard_data, get_player_scoreboard_data(player_id)], ignore_index=True)

print('\nPlayer Game Data')
print(f'Shape: {player_scoreboard_data.shape}')
display(player_scoreboard_data.sample(n=5).sort_values(by=['Player_ID', 'GAME_DATE'], ascending=False))

print('\nNOTE: Both season and season type are in the SEASON_ID column, so we can use that to filter')

Getting data for 1630173

ConnectionError: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response'))

In [ ]:
## count max number of game_ids in game_log_data
game_log_data.groupby('Game_ID').size

NameError: name 'team_game_data' is not defined

In [ ]:
# player_scoreboard_data.describe().T
player_scoreboard_data.columns

Index(['SEASON_ID', 'Player_ID', 'Game_ID', 'GAME_DATE', 'MATCHUP', 'WL',
       'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA',
       'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF',
       'PTS', 'PLUS_MINUS', 'VIDEO_AVAILABLE'],
      dtype='object')

In [ ]:
# 2037 - Jamal Crawford
player_df[player_df['full_name'] == '']

Empty DataFrame
Columns: [id, full_name, first_name, last_name, is_active]
Index: []

In [ ]:
from nba_api.stats.endpoints import playerprofilev2
nikola_jokic_id = 203999 # Nikola Jokic
victor_wembanyama_id = 1641705 # Victor Wembanyama
scoot_henderson_id = 1630703 # Scoot Henderson
jalen_green_id = 1630224 # Jalen Green
bam_id = 1628389 # Bam Adebayo

class LeagueID:
    nba = '00'
    aba = '01'
    wnba = '10'
    g_league = '20'

    default = nba

pp_player = playerprofilev2.PlayerProfileV2(player_id=scoot_henderson_id, per_mode36='PerGame', league_id_nullable='00')

print('Regular Season stats')
display(pp_player.season_totals_regular_season.get_data_frame())

print('\nAll Star Season stats')
display(pp_player.season_totals_all_star_season.get_data_frame())

print('\nPost Season stats')
display(pp_player.season_totals_post_season.get_data_frame())

print('\nPre Season stats')
display(pp_player.season_totals_preseason.get_data_frame())

print('\nCollege stats')
display(pp_player.season_totals_college_season.get_data_frame())

Regular Season stats

Empty DataFrame
Columns: [PLAYER_ID, SEASON_ID, LEAGUE_ID, TEAM_ID, TEAM_ABBREVIATION, PLAYER_AGE, GP, GS, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, STL, BLK, TOV, PF, PTS]
Index: []

[0 rows x 27 columns]

All Star Season stats

Empty DataFrame
Columns: [PLAYER_ID, SEASON_ID, LEAGUE_ID, TEAM_ID, TEAM_ABBREVIATION, PLAYER_AGE, GP, GS, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, STL, BLK, TOV, PF, PTS]
Index: []

[0 rows x 27 columns]

Post Season stats

Empty DataFrame
Columns: [PLAYER_ID, SEASON_ID, LEAGUE_ID, TEAM_ID, TEAM_ABBREVIATION, PLAYER_AGE, GP, GS, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, STL, BLK, TOV, PF, PTS]
Index: []

[0 rows x 27 columns]

Pre Season stats

Empty DataFrame
Columns: [PLAYER_ID, SEASON_ID, LEAGUE_ID, TEAM_ID, TEAM_ABBREVIATION, PLAYER_AGE, GP, GS, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, STL, BLK, TOV, PF, PTS]
Index: []

[0 rows x 27 columns]

College stats

Empty DataFrame
Columns: [PLAYER_ID, SEASON_ID, LEAGUE_ID, ORGANIZATION_ID, SCHOOL_NAME, PLAYER_AGE, GP, GS, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, STL, BLK, TOV, PF, PTS]
Index: []

[0 rows x 27 columns]

In [ ]:
from nba_api.stats.endpoints import drafthistory

drafthistory.DraftHistory(league_id='00', season_year_nullable=2023).get_data_frames()[0].head() # , season_year_nullable=2023

,PERSON_ID,PLAYER_NAME,SEASON,ROUND_NUMBER,ROUND_PICK,OVERALL_PICK,DRAFT_TYPE,TEAM_ID,TEAM_CITY,TEAM_NAME,TEAM_ABBREVIATION,ORGANIZATION,ORGANIZATION_TYPE,PLAYER_PROFILE_FLAG
0,1641705,Victor Wembanyama,2023,1,1,1,Draft,1610612759,San Antonio,Spurs,SAS,Metropolitans 92 (France),Other Team/Club,1
1,1641706,Brandon Miller,2023,1,2,2,Draft,1610612766,Charlotte,Hornets,CHA,Alabama,College/University,1
2,1630703,Scoot Henderson,2023,1,3,3,Draft,1610612757,Portland,Trail Blazers,POR,Ignite (G League),Other Team/Club,1
3,1641708,Amen Thompson,2023,1,4,4,Draft,1610612745,Houston,Rockets,HOU,Overtime Elite,Other Team/Club,1
4,1641709,Ausar Thompson,2023,1,5,5,Draft,1610612765,Detroit,Pistons,DET,Overtime Elite,Other Team/Club,1

In [ ]:
from nba_api.stats.endpoints import fantasywidget

fantasy_df = fantasywidget.FantasyWidget(active_players='Y').get_data_frames()[0]
fantasy_df
# fantasy_df[fantasy_df['PLAYER_NAME'] == 'Scoot Henderson']

,PLAYER_ID,PLAYER_NAME,PLAYER_POSITION,TEAM_ID,TEAM_ABBREVIATION,GP,MIN,FAN_DUEL_PTS,NBA_FANTASY_PTS,PTS,REB,AST,BLK,STL,TOV,FG3M,FGA,FG_PCT,FTA,FT_PCT
0,1629029,Luka Doncic,F-G,1610612742,DAL,66,36.2,54.9,56.8,32.4,8.6,8.0,0.50,1.36,3.6,2.8,22.0,0.496,10.5,0.742
1,203999,Nikola Jokic,C,1610612743,DEN,69,33.7,53.7,55.7,24.5,11.8,9.8,0.68,1.26,3.6,0.8,14.8,0.632,6.0,0.822
2,203954,Joel Embiid,C-F,1610612755,PHI,66,34.6,53.5,56.2,33.1,10.2,4.2,1.70,1.00,3.4,1.0,20.1,0.548,11.7,0.857
3,203507,Giannis Antetokounmpo,F,1610612749,MIL,63,32.1,53.1,54.8,31.1,11.8,5.7,0.81,0.83,3.9,0.7,20.3,0.553,12.3,0.645
4,203076,Anthony Davis,F-C,1610612747,LAL,56,34.0,48.9,52.0,25.9,12.5,2.6,2.04,1.05,2.2,0.3,17.2,0.563,7.9,0.784
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
492,1631213,Tyrese Martin,G,1610612737,ATL,16,4.1,2.4,2.5,1.3,0.8,0.1,0.00,0.06,0.1,0.1,1.4,0.391,0.1,1.000
493,1630580,Joe Wieskamp,G-F,1610612761,TOR,9,5.5,1.9,1.9,1.0,0.4,0.3,0.00,0.00,0.1,0.3,1.6,0.214,0.0,0.000
494,1631211,Trevor Keels,G,1610612752,NYK,3,2.7,1.8,1.8,1.0,0.7,0.0,0.00,0.00,0.0,0.3,1.3,0.250,0.0,0.000
495,1630250,Marko Simonovic,C,1610612741,CHI,7,2.8,1.2,1.2,0.9,0.3,0.0,0.00,0.00,0.0,0.1,1.0,0.286,0.3,0.500
496,1631220,Dereon Seabron,G,1610612740,NOP,5,2.3,1.0,1.0,0.8,0.2,0.0,0.00,0.00,0.0,0.0,1.0,0.400,0.0,0.000

In [ ]:
# LeagueGameFinder
from nba_api.stats.endpoints import leaguegamefinder

lg_df = leaguegamefinder.LeagueGameFinder(season_nullable='2020-21', season_type_nullable='Regular Season').get_data_frames()[0]
lg_df

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22020,1610612756,PHX,Phoenix Suns,0022001078,2021-05-16,PHX @ SAS,W,240,123,...,1.000,10,38,48,36,7,5,8,13,2.0
1,22020,1610612762,UTA,Utah Jazz,0022001077,2021-05-16,UTA @ SAC,W,239,121,...,0.840,9,41,50,28,9,3,16,14,22.0
2,22020,1610612743,DEN,Denver Nuggets,0022001076,2021-05-16,DEN @ POR,L,240,116,...,0.933,10,26,36,20,8,2,6,20,-16.0
3,22020,1610612753,ORL,Orlando Magic,0022001075,2021-05-16,ORL @ PHI,L,240,117,...,0.854,9,38,47,23,4,3,16,25,-11.0
4,22020,1610612749,MIL,Milwaukee Bucks,0022001068,2021-05-16,MIL @ CHI,L,241,112,...,0.750,10,31,41,14,13,5,11,16,-6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2425,22020,1610612762,UTA,Utah Jazz,0022000020,2020-12-23,UTA @ POR,W,241,120,...,0.789,12,47,59,24,3,3,11,16,20.0
2426,22020,1610612747,LAL,Los Angeles Lakers,0022000002,2020-12-22,LAL vs. LAC,L,240,109,...,0.774,8,37,45,22,4,2,19,20,-7.0
2427,22020,1610612751,BKN,Brooklyn Nets,0022000001,2020-12-22,BKN vs. GSW,W,242,125,...,0.813,13,44,57,24,11,7,20,22,26.0
2428,22020,1610612746,LAC,LA Clippers,0022000002,2020-12-22,LAC @ LAL,W,241,116,...,0.737,11,29,40,22,10,3,16,29,7.0
2429,22020,1610612744,GSW,Golden State Warriors,0022000001,2020-12-22,GSW @ BKN,L,240,99,...,0.652,13,34,47,26,6,6,18,24,-26.0

In [ ]:
lg_df.groupby(['TEAM_NAME']).size().reset_index(name='count').sort_values(by='count', ascending=False)

                   TEAM_NAME  count
24        Los Angeles Lakers     72
16     Golden State Warriors     72
35        Philadelphia 76ers     72
31           New York Knicks     72
30      New Orleans Pelicans     72
29    Minnesota Timberwolves     72
28           Milwaukee Bucks     72
27                Miami Heat     72
36              Phoenix Suns     72
25         Memphis Grizzlies     72
1              Atlanta Hawks     72
37    Portland Trail Blazers     72
21               LA Clippers     72
19            Indiana Pacers     72
18           Houston Rockets     72
34             Orlando Magic     72
40          Sacramento Kings     72
9           Dallas Mavericks     72
8        Cleveland Cavaliers     72
46        Washington Wizards     72
3             Boston Celtics     72
4              Brooklyn Nets     72
45                 Utah Jazz     72
6          Charlotte Hornets     72
7              Chicago Bulls     72
33     Oklahoma City Thunder     72
42         San Antonio Spurs     72
44           Toronto Raptors     72
11            Denver Nuggets     72
12           Detroit Pistons     72
38               Raptors 905     15
39  Rio Grande Valley Vipers     15
43       Santa Cruz Warriors     15
41      Salt Lake City Stars     15
0     Agua Caliente Clippers     15
32        Oklahoma City Blue     15
26            Memphis Hustle     15
23          Long Island Nets     15
22            Lakeland Magic     15
20               Iowa Wolves     15
17          Greensboro Swarm     15
15           G League Ignite     15
14       Fort Wayne Mad Ants     15
13             Erie BayHawks     15
10       Delaware Blue Coats     15
5              Canton Charge     15
2               Austin Spurs     15
47        Westchester Knicks     15