In [1]:
import nba_api as nba

In [5]:

# find player Ids 
from nba_api.stats.static import players
player_dict = players.get_players()

# Use ternary operator or write function 
bron = [player for player in player_dict if player['full_name'] == 'LeBron James'][0]
bron_id = bron['id']

#game_stats_player
#could not get DateFrom to work, just use loop with years if necessary 
from nba_api.stats.library.parameters import SeasonAll
from nba_api.stats.endpoints import playergamelog
import pandas as pd

In [10]:
# gamelog_bron = playergamelog.PlayerGameLog(player_id='2544', season = '2018') # 55 rows
gamelog_bron_all = playergamelog.PlayerGameLog(player_id='2544', season = SeasonAll.all)
df_bron_games_all = gamelog_bron_all.get_data_frames()
display(df_bron_games_all[0].head(5))
print(df_bron_games_all[0].shape)

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22022,2544,0022201228,"APR 09, 2023",LAL vs. UTA,W,33,13,25,0.520,...,5,6,6,1,1,2,0,36,20,1
1,22022,2544,0022201212,"APR 07, 2023",LAL vs. PHX,W,29,6,19,0.316,...,6,6,6,0,0,5,1,16,11,1
2,22022,2544,0022201196,"APR 05, 2023",LAL @ LAC,L,35,13,20,0.650,...,8,8,7,1,1,6,0,33,-10,1
3,22022,2544,0022201186,"APR 04, 2023",LAL @ UTA,W,38,14,27,0.519,...,5,5,6,1,1,5,2,37,-7,1
4,22022,2544,0022201171,"APR 02, 2023",LAL @ HOU,W,29,8,18,0.444,...,8,10,11,0,1,1,1,18,23,1

(1421, 27)

In [13]:
## Get all players in a season
from nba_api.stats.endpoints import leaguegamelog
gamelog_2018 = leaguegamelog.LeagueGameLog(season = '2000')
df_2018_games = gamelog_2018.get_data_frames()
display(df_2018_games[0].head(5))
print(df_2018_games[0].shape)
# print(df_2018_games[0].columns)

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22000,1610612745,HOU,Houston Rockets,0020000008,2000-10-31,HOU vs. MIN,L,240,34,...,27,38,18,9,7,18,17,98,-8,0
1,22000,1610612749,MIL,Milwaukee Bucks,0020000007,2000-10-31,MIL @ DAL,L,240,33,...,34,51,16,6,7,20,27,93,-4,0
2,22000,1610612766,CHH,Charlotte Hornets,0020000004,2000-10-31,CHH @ ATL,W,240,35,...,37,44,16,7,6,17,23,106,24,0
3,22000,1610612744,GSW,Golden State Warriors,0020000011,2000-10-31,GSW vs. PHX,W,240,32,...,41,55,18,11,5,21,22,96,2,0
4,22000,1610612747,LAL,Los Angeles Lakers,0020000012,2000-10-31,LAL @ POR,W,240,36,...,31,39,28,5,8,20,18,96,10,0

(2378, 29)

In [2]:

# find team Ids
from nba_api.stats.static import teams 
teams = teams.get_teams()
GSW = [x for x in teams if x['full_name'] == 'Golden State Warriors'][0]
GSW_id = GSW['id']

#find games played by a team or player
from nba_api.stats.endpoints import leaguegamefinder
GSW_games = leaguegamefinder.LeagueGameFinder(team_id_nullable=GSW_id).get_data_frames()[0]
GSW_games

# # game play by play data 
# from nba_api.stats.endpoints import playbyplay
# pbp = playbyplay.PlayByPlay('0021900429').get_data_frames()[0]

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,42022,1610612744,GSW,Golden State Warriors,0042200162,2023-04-17,GSW @ SAC,L,241,106,...,0.833,9.0,32.0,41.0,18,6,2,20,26,-8.0
1,42022,1610612744,GSW,Golden State Warriors,0042200161,2023-04-15,GSW @ SAC,L,239,123,...,0.778,9.0,32.0,41.0,31,7,7,15,25,-3.0
2,22022,1610612744,GSW,Golden State Warriors,0022201230,2023-04-09,GSW @ POR,W,240,157,...,0.875,9.0,49.0,58.0,47,13,6,15,18,56.0
3,22022,1610612744,GSW,Golden State Warriors,0022201211,2023-04-07,GSW @ SAC,W,238,119,...,0.875,10.0,37.0,47.0,36,6,7,24,22,22.0
4,22022,1610612744,GSW,Golden State Warriors,0022201187,2023-04-04,GSW vs. OKC,W,243,136,...,0.733,19.0,35.0,54.0,25,6,6,13,22,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3593,21983,1610612744,GOS,Golden State Warriors,0028300048,1983-11-05,GOS vs. NYK,W,240,102,...,0.711,25.0,18.0,43.0,20,16,4,17,27,NaN
3594,21983,1610612744,GOS,Golden State Warriors,0028300040,1983-11-03,GOS @ UTH,L,240,112,...,0.880,27.0,26.0,53.0,22,11,4,19,31,NaN
3595,21983,1610612744,GOS,Golden State Warriors,0028300029,1983-11-01,GOS @ KCK,L,240,114,...,0.750,12.0,18.0,30.0,29,15,3,16,28,NaN
3596,21983,1610612744,GOS,Golden State Warriors,0028300013,1983-10-29,GOS vs. POR,W,240,97,...,0.725,12.0,31.0,43.0,21,9,1,16,37,NaN
3597,21983,1610612744,GOS,Golden State Warriors,0028300004,1983-10-28,GOS @ SEA,W,240,110,...,0.703,21.0,26.0,47.0,26,11,2,19,34,NaN

In [ ]:
## TODO: Look through endpoints and find tables that match the data we want to collect
## https://github.com/swar/nba_api/tree/master/docs/nba_api/stats/endpoints
# - playergamelog.PlayerGameLog - Obviously what we will use to crate timeseries data
# - leaguegamelog.LeagueGameLog - Join with playergamelog to fill in missing data
# - playernextngames.PlayerNextNGames - Can be useful for projections? but doesn't look to have historical
# - playerprofilev2.... - Lots of good stuff in here such as college stats
from nba_api.stats.endpoints import playerprofilev2
playerprofilev2.PlayerProfileV2(player_id='2544').get_data_frames()[0]

# - draftboard.DraftBoard - Where player was drafted

In [1]:
from nba_api.stats.endpoints import playerprofilev2
pp_bron = playerprofilev2.PlayerProfileV2(player_id='2544', per_mode36='Per36')

print('per 36 season stats')
display(pp_bron.career_totals_regular_season.get_data_frame())

print('\ncollege stats')
display(playerprofilev2.PlayerProfileV2(player_id='2544').career_totals_college_season.get_data_frame())

per 36 season stats

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,RANK_PMIN_MIN,RANK_PMIN_FGM,...,RANK_FT_PCT,RANK_PMIN_OREB,RANK_PMIN_DREB,RANK_PMIN_REB,RANK_PMIN_AST,RANK_PMIN_STL,RANK_PMIN_BLK,RANK_PMIN_TOV,RANK_PMIN_PTS,RANK_PMIN_EFF
0,2544,2005-06,00,1610612739,CLE,NR,NR,NR,1,1.0,...,53.0,34.0,12.0,12.0,7.0,12.0,30.0,1.0,2.0,7.0
1,2544,2006-07,00,1610612739,CLE,NR,NR,NR,1,14.0,...,39.0,47.0,14.0,19.0,5.0,9.0,44.0,12.0,8.0,7.0
2,2544,2007-08,00,1610612739,CLE,NR,NR,NR,1,7.0,...,54.0,58.0,14.0,21.0,4.0,5.0,18.0,2.0,2.0,5.0
3,2544,2008-09,00,1610612739,CLE,NR,NR,NR,1,2.0,...,46.0,41.0,7.0,8.0,4.0,10.0,26.0,13.0,1.0,1.0
4,2544,2009-10,00,1610612739,CLE,NR,NR,NR,1,6.0,...,51.0,48.0,5.0,7.0,4.0,7.0,6.0,3.0,4.0,1.0
5,2544,2010-11,00,1610612748,MIA,NR,NR,NR,1,9.0,...,45.0,41.0,13.0,18.0,8.0,8.0,21.0,9.0,8.0,4.0
6,2544,2011-12,00,1610612748,MIA,NR,NR,NR,1,2.0,...,46.0,15.0,4.0,9.0,10.0,4.0,37.0,4.0,1.0,1.0
7,2544,2012-13,00,1610612748,MIA,NR,NR,NR,1,3.0,...,35.0,31.0,12.0,16.0,6.0,9.0,29.0,12.0,4.0,2.0
8,2544,2013-14,00,1610612748,MIA,NR,NR,NR,1,4.0,...,26.0,92.0,15.0,26.0,15.0,8.0,43.0,9.0,2.0,2.0
9,2544,2014-15,00,1610612739,CLE,NR,NR,NR,1,2.0,...,52.0,33.0,5.0,4.0,2.0,13.0,22.0,2.0,2.0,3.0
10,2544,2015-16,00,1610612739,CLE,NR,NR,NR,1,1.0,...,46.0,20.0,7.0,6.0,3.0,5.0,16.0,5.0,5.0,1.0
11,2544,2016-17,00,1610612739,CLE,NR,NR,NR,1,1.0,...,44.0,55.0,4.0,10.0,5.0,8.0,13.0,4.0,2.0,1.0
12,2544,2017-18,00,1610612739,CLE,NR,NR,NR,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2544,2019-20,00,1610612747,LAL,NR,NR,NR,1,4.0,...,52.0,35.0,4.0,7.0,3.0,22.0,18.0,3.0,8.0,1.0
14,2544,2020-21,00,1610612747,LAL,NR,NR,NR,1,14.0,...,58.0,44.0,20.0,26.0,10.0,7.0,72.0,4.0,16.0,14.0
15,2544,2022-23,00,1610612747,LAL,NR,NR,NR,1,22.0,...,62.0,18.0,8.0,9.0,22.0,13.0,2.0,3.0,27.0,13.0

college stats

Empty DataFrame
Columns: [PLAYER_ID, LEAGUE_ID, ORGANIZATION_ID, GP, GS, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, STL, BLK, TOV, PF, PTS]
Index: []

[0 rows x 24 columns]

In [ ]:
## TODO
## 0 Get teams by looking at each league standings in the last 20 years - leaguestandingsv3.LeagueStandingsV3.Standings
## 1 Get all team game data for last 20 years
## 2 Get cumulative season stats for all players across their careers, and if they 
##   have played in the last 20 years, get their Player IDs and their career stats
## 3 For players found in step 3, get their game data for the last 20 years
## 4 Fill in game data with zeros with games found in 1 but not 2