In [3]:
from ExploreData import ExploreData
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import typing as t

import os

In [4]:
print(os.getcwd())
data_path = '../data/'

df_ts = pd.read_csv(data_path + 'data_timeseries.csv')

display(df_ts.sample(5).sort_index())
print('shape:', df_ts.shape)

c:\Users\BrandonBrown\repos\basketball\scripts

C:\Users\BrandonBrown\AppData\Local\Temp\ipykernel_2676\740152145.py:4: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  df_ts = pd.read_csv(data_path + 'data_timeseries.csv')

,GAME_DATE_EST,GAME_ID,TEAM_ID,TEAM_PTS,TEAM_FG_PCT,TEAM_FG3_PCT,TEAM_AST,TEAM_REB,OPP_TEAM_ID,OPP_TEAM_PTS,...,avg_3_22_REB_pm_season,avg_3_22_AST_pm_season,avg_3_22_STL_pm_season,avg_3_22_BLK_pm_season,avg_3_22_TO_pm_season,avg_3_22_PTS_pm_season,avg_3_22_PLUS_MINUS_pm_season,avg_3_22_PF_pm_season,avg_3_22_played_in_first_game_of_back_to_back_season,avg_3_22_played_in_second_game_of_back_to_back_season
120991,2007-11-23,20700174,1610612755,78.0,0.391,0.200,13.0,47.0,1610612765,83.0,...,0.214937,0.055605,0.043654,0.040042,0.059733,0.379339,-0.043615,0.093204,0.882655,0.838771
145543,2008-04-13,20701200,1610612753,104.0,0.493,0.407,25.0,43.0,1610612741,84.0,...,0.100127,0.139785,0.029077,0.002621,0.071934,0.423708,-0.078607,0.074836,0.845830,0.803904
306853,2014-01-18,21300595,1610612765,104.0,0.494,0.286,17.0,44.0,1610612764,98.0,...,0.190708,0.055351,0.027668,0.021970,0.046863,0.418446,0.026536,0.084246,0.955839,0.937892
332184,2014-12-15,21400362,1610612765,91.0,0.422,0.296,23.0,41.0,1610612746,113.0,...,0.234224,0.040164,0.034181,0.015370,0.060463,0.373509,-0.196898,0.148976,0.925471,0.889101
350267,2015-03-27,21401079,1610612738,96.0,0.420,0.200,18.0,44.0,1610612752,92.0,...,0.148484,0.121702,0.045259,0.025005,0.091131,0.431314,-0.587267,0.101197,0.885662,0.869896

shape: (579662, 273)

In [5]:
## TODO
## - Separate each column into predictors for: MIN, PTS, REB, AST, STL, BLK, TO, PF, FGM, FGA, FTM, FTA
## - Will need to add in missing features
cat_features_min = ['HOME', 'lag_1_START_POSITION', 'lag_1_comment_code', 'lag_1_comment_reason', ]
num_features_min = [
    'days_since_last_game', 'days_until_next_game', 'season_short', 'percentage_regular_season_games', 'lag_1_WIN', 'lag_1_MIN',
    'lag_1_PLUS_MINUS_pm', 'lag_1_PF_pm', 'avg_2_3_WIN', 'avg_4_9_WIN', 'avg_10_19_WIN', 'avg_20_35_WIN', 'avg_36_85_WIN',
    'avg_2_3_MIN', 'avg_4_9_MIN', 'avg_10_19_MIN', 'avg_20_35_MIN', 'avg_36_85_MIN',
    'avg_2_3_PLUS_MINUS_pm', 'avg_4_9_PLUS_MINUS_pm', 'avg_10_19_PLUS_MINUS_pm', 'avg_20_35_PLUS_MINUS_pm', 'avg_36_85_PLUS_MINUS_pm',
    'avg_2_3_PF_pm', 'avg_4_9_PF_pm', 'avg_10_19_PF_pm', 'avg_20_35_PF_pm', 'avg_36_85_PF_pm',
    'avg_1_20_played_in_first_game_of_back_to_back', 'avg_21_90_played_in_first_game_of_back_to_back', 'avg_1_20_played_in_second_game_of_back_to_back',
    'avg_21_90_played_in_second_game_of_back_to_back', 'avg_2_3_game_played', 'avg_4_9_game_played', 'avg_10_19_game_played', 'avg_20_35_game_played',
    'avg_36_85_game_played', 'lag_1_WIN_season', 'lag_1_MIN_season', 'lag_2_MIN_season', 'lag_1_game_played_season', 'lag_2_game_played_season',
    'lag_1_PLUS_MINUS_pm_season', 'lag_2_PLUS_MINUS_pm_season', 'lag_1_PF_pm_season', 'lag_2_PF_pm_season', 'lag_1_played_in_first_game_of_back_to_back_season',
    'lag_2_played_in_first_game_of_back_to_back_season', 'lag_1_played_in_second_game_of_back_to_back_season',
    'lag_2_played_in_second_game_of_back_to_back_season', 'avg_3_22_MIN_season', 'avg_3_22_game_played_season', 'avg_3_22_PLUS_MINUS_pm_season',
    'avg_3_22_PF_pm_season', 'avg_3_22_played_in_first_game_of_back_to_back_season', 'avg_3_22_played_in_second_game_of_back_to_back_season']
features_min = cat_features_min + num_features_min

cat_features_min_encoding = cat_features_min.copy()
cat_features_min_encoding.remove('HOME')

In [6]:
## TODO
## - Select columns to keep
var_dict_ts_min = {'num_vars': num_features_min + ['MIN'],
    'cat_vars': cat_features_min,
}

## - Explore data
explore_ts_min = ExploreData(df_ts, var_dict=var_dict_ts_min)
explore_ts_min.summary()
# explore_ts_min.target_variable(target='MIN')

========= Summary Statistics =========
579662 rows, 273 columns

========= Column Level Statistics =========
GAME_DATE_EST -- object
Column not in cat_vars or num_vars
Unique values: 3109
Null count: 0

GAME_ID -- int64
Column not in cat_vars or num_vars
Unique values: 23290
Null count: 0

TEAM_ID -- int64
Column not in cat_vars or num_vars
Unique values: 30
Null count: 0

TEAM_PTS -- float64
Column not in cat_vars or num_vars
Unique values: 105
Null count: 0

TEAM_FG_PCT -- float64
Column not in cat_vars or num_vars
Unique values: 418
Null count: 0

TEAM_FG3_PCT -- float64
Column not in cat_vars or num_vars
Unique values: 439
Null count: 0

TEAM_AST -- float64
Column not in cat_vars or num_vars
Unique values: 45
Null count: 0

TEAM_REB -- float64
Column not in cat_vars or num_vars
Unique values: 55
Null count: 0

OPP_TEAM_ID -- int64
Column not in cat_vars or num_vars
Unique values: 30
Null count: 0

OPP_TEAM_PTS -- float64
Column not in cat_vars or num_vars
Unique values: 105
Null count: 0

OPP_TEAM_FG_PCT -- float64
Column not in cat_vars or num_vars
Unique values: 418
Null count: 0

OPP_TEAM_FG3_PCT -- float64
Column not in cat_vars or num_vars
Unique values: 439
Null count: 0

OPP_TEAM_AST -- float64
Column not in cat_vars or num_vars
Unique values: 45
Null count: 0

OPP_TEAM_REB -- float64
Column not in cat_vars or num_vars
Unique values: 55
Null count: 0

HOME -- int64
1    290139
0    289523
Name: HOME, dtype: int64
Unique values: 2
Null count: 0

WIN -- float64
Column not in cat_vars or num_vars
Unique values: 2
Null count: 0

last_game_date -- object
Column not in cat_vars or num_vars
Unique values: 3178
Null count: 0

days_since_last_game -- int64
count    579662.000000
mean          2.209538
std           3.445814
min           1.000000
1%            1.000000
10%           1.000000
25%           2.000000
50%           2.000000
75%           2.000000
90%           3.000000
99%           7.000000
max         138.000000
Name: days_since_last_game, dtype: float64
number of outliers: 250935
max outlier value: 138
min outlier value: 1
Unique values: 19
Null count: 0

next_game_date -- object
Column not in cat_vars or num_vars
Unique values: 3220
Null count: 373

days_until_next_game -- int64
count    579662.000000
mean          3.144431
std          13.691634
min           0.000000
1%            1.000000
10%           1.000000
25%           2.000000
50%           2.000000
75%           2.000000
90%           3.000000
99%           8.000000
max         277.000000
Name: days_until_next_game, dtype: float64
number of outliers: 250652
max outlier value: 277
min outlier value: 0
Unique values: 59
Null count: 0

first_back_to_back -- int64
Column not in cat_vars or num_vars
Unique values: 2
Null count: 0

second_back_to_back -- int64
Column not in cat_vars or num_vars
Unique values: 2
Null count: 0

season -- object
Column not in cat_vars or num_vars
Unique values: 20
Null count: 0

season_short -- int64
count    579662.000000
mean       2013.302124
std           5.584601
min        2004.000000
1%         2004.000000
10%        2006.000000
25%        2008.000000
50%        2013.000000
75%        2018.000000
90%        2021.000000
99%        2023.000000
max        2023.000000
Name: season_short, dtype: float64
number of outliers: 0
Unique values: 20
Null count: 0

min_games -- int64
Column not in cat_vars or num_vars
Unique values: 5
Null count: 0

max_games -- int64
Column not in cat_vars or num_vars
Unique values: 4
Null count: 0

number_of_teams -- int64
Column not in cat_vars or num_vars
Unique values: 2
Null count: 0

preseason_end -- object
Column not in cat_vars or num_vars
Unique values: 20
Null count: 0

postseason_start -- object
Column not in cat_vars or num_vars
Unique values: 20
Null count: 0

postseason_end -- object
Column not in cat_vars or num_vars
Unique values: 20
Null count: 0

regular_season -- int64
Column not in cat_vars or num_vars
Unique values: 1
Null count: 0

preseason -- int64
Column not in cat_vars or num_vars
Unique values: 1
Null count: 0

postseason -- int64
Column not in cat_vars or num_vars
Unique values: 1
Null count: 0

game_number_of_season -- int64
Column not in cat_vars or num_vars
Unique values: 84
Null count: 0

total_regular_season_games -- int64
Column not in cat_vars or num_vars
Unique values: 3
Null count: 0

percentage_regular_season_games -- float64
count    579662.000000
mean          0.488959
std           0.285660
min           0.011905
1%            0.012195
10%           0.097561
25%           0.243902
50%           0.487805
75%           0.731707
90%           0.890244
99%           1.000000
max           1.000000
Name: percentage_regular_season_games, dtype: float64
number of outliers: 0
Unique values: 246
Null count: 0

TEAM_PTS_per_game -- float64
Column not in cat_vars or num_vars
Unique values: 21827
Null count: 7674

TEAM_PTS_opp_per_game -- float64
Column not in cat_vars or num_vars
Unique values: 21533
Null count: 7674

OPP_TEAM_PTS_per_game -- float64
Column not in cat_vars or num_vars
Unique values: 21827
Null count: 7673

OPP_TEAM_PTS_opp_per_game -- float64
Column not in cat_vars or num_vars
Unique values: 21533
Null count: 7673

TEAM_FG_PCT_per_game -- float64
Column not in cat_vars or num_vars
Unique values: 30679
Null count: 7674

TEAM_FG_PCT_opp_per_game -- float64
Column not in cat_vars or num_vars
Unique values: 30121
Null count: 7674

OPP_TEAM_FG_PCT_per_game -- float64
Column not in cat_vars or num_vars
Unique values: 30679
Null count: 7673

OPP_TEAM_FG_PCT_opp_per_game -- float64
Column not in cat_vars or num_vars
Unique values: 30121
Null count: 7673

TEAM_FG3_PCT_per_game -- float64
Column not in cat_vars or num_vars
Unique values: 32747
Null count: 7674

TEAM_FG3_PCT_opp_per_game -- float64
Column not in cat_vars or num_vars
Unique values: 32016
Null count: 7674

OPP_TEAM_FG3_PCT_per_game -- float64
Column not in cat_vars or num_vars
Unique values: 32747
Null count: 7673

OPP_TEAM_FG3_PCT_opp_per_game -- float64
Column not in cat_vars or num_vars
Unique values: 32016
Null count: 7673

TEAM_AST_per_game -- float64
Column not in cat_vars or num_vars
Unique values: 13184
Null count: 7674

TEAM_AST_opp_per_game -- float64
Column not in cat_vars or num_vars
Unique values: 12675
Null count: 7674

OPP_TEAM_AST_per_game -- float64
Column not in cat_vars or num_vars
Unique values: 13184
Null count: 7673

OPP_TEAM_AST_opp_per_game -- float64
Column not in cat_vars or num_vars
Unique values: 12675
Null count: 7673

TEAM_REB_per_game -- float64
Column not in cat_vars or num_vars
Unique values: 13073
Null count: 7674

TEAM_REB_opp_per_game -- float64
Column not in cat_vars or num_vars
Unique values: 13511
Null count: 7674

OPP_TEAM_REB_per_game -- float64
Column not in cat_vars or num_vars
Unique values: 13073
Null count: 7673

OPP_TEAM_REB_opp_per_game -- float64
Column not in cat_vars or num_vars
Unique values: 13511
Null count: 7673

PLAYER_ID -- int64
Column not in cat_vars or num_vars
Unique values: 2094
Null count: 0

START_POSITION -- object
Column not in cat_vars or num_vars
Unique values: 4
Null count: 346647

MIN -- float64
count    483834.000000
mean         23.284736
std          11.194567
min           0.000000
1%            1.000000
10%           6.766667
25%          15.033333
50%          23.900000
75%          32.216667
90%          37.616667
99%          44.550000
max          60.333333
Name: MIN, dtype: float64
number of outliers: 8
max outlier value: 60.333333333333336
min outlier value: 58.86666666666667
Unique values: 3242
Null count: 95828

FGM -- float64
Column not in cat_vars or num_vars
Unique values: 27
Null count: 95828

FGA -- float64
Column not in cat_vars or num_vars
Unique values: 48
Null count: 95828

FG_PCT -- float64
Column not in cat_vars or num_vars
Unique values: 302
Null count: 95828

FG3M -- float64
Column not in cat_vars or num_vars
Unique values: 16
Null count: 95828

FG3A -- float64
Column not in cat_vars or num_vars
Unique values: 26
Null count: 95828

FG3_PCT -- float64
Column not in cat_vars or num_vars
Unique values: 108
Null count: 95828

FTM -- float64
Column not in cat_vars or num_vars
Unique values: 28
Null count: 95828

FTA -- float64
Column not in cat_vars or num_vars
Unique values: 34
Null count: 95828

FT_PCT -- float64
Column not in cat_vars or num_vars
Unique values: 163
Null count: 95828

OREB -- float64
Column not in cat_vars or num_vars
Unique values: 19
Null count: 95828

DREB -- float64
Column not in cat_vars or num_vars
Unique values: 26
Null count: 95828

REB -- float64
Column not in cat_vars or num_vars
Unique values: 33
Null count: 95828

AST -- float64
Column not in cat_vars or num_vars
Unique values: 27
Null count: 95828

STL -- float64
Column not in cat_vars or num_vars
Unique values: 12
Null count: 95828

BLK -- float64
Column not in cat_vars or num_vars
Unique values: 14
Null count: 95828

TO -- float64
Column not in cat_vars or num_vars
Unique values: 14
Null count: 95828

PF -- float64
Column not in cat_vars or num_vars
Unique values: 8
Null count: 95828

PTS -- float64
Column not in cat_vars or num_vars
Unique values: 67
Null count: 95828

PLUS_MINUS -- float64
Column not in cat_vars or num_vars
Unique values: 109
Null count: 95828

game_played -- int64
Column not in cat_vars or num_vars
Unique values: 2
Null count: 0

comment_code -- object
Column not in cat_vars or num_vars
Unique values: 39
Null count: 483834

comment_reason -- object
Column not in cat_vars or num_vars
Unique values: 3511
Null count: 483888

FGM_pm -- float64
Column not in cat_vars or num_vars
Unique values: 17561
Null count: 95828

FGA_pm -- float64
Column not in cat_vars or num_vars
Unique values: 27864
Null count: 95828

FG3M_pm -- float64
Column not in cat_vars or num_vars
Unique values: 9416
Null count: 95828

FG3A_pm -- float64
Column not in cat_vars or num_vars
Unique values: 16326
Null count: 95828

FTM_pm -- float64
Column not in cat_vars or num_vars
Unique values: 15852
Null count: 95828

FTA_pm -- float64
Column not in cat_vars or num_vars
Unique values: 18391
Null count: 95828

OREB_pm -- float64
Column not in cat_vars or num_vars
Unique values: 11352
Null count: 95828

DREB_pm -- float64
Column not in cat_vars or num_vars
Unique values: 18000
Null count: 95828

REB_pm -- float64
Column not in cat_vars or num_vars
Unique values: 22573
Null count: 95828

AST_pm -- float64
Column not in cat_vars or num_vars
Unique values: 16769
Null count: 95828

STL_pm -- float64
Column not in cat_vars or num_vars
Unique values: 8044
Null count: 95828

BLK_pm -- float64
Column not in cat_vars or num_vars
Unique values: 7881
Null count: 95828

TO_pm -- float64
Column not in cat_vars or num_vars
Unique values: 10576
Null count: 95828

PTS_pm -- float64
Column not in cat_vars or num_vars
Unique values: 38635
Null count: 95828

PLUS_MINUS_pm -- float64
Column not in cat_vars or num_vars
Unique values: 71967
Null count: 95828

PF_pm -- float64
Column not in cat_vars or num_vars
Unique values: 10563
Null count: 95828

played_in_first_game_of_back_to_back -- float64
Column not in cat_vars or num_vars
Unique values: 3
Null count: 451739

played_in_second_game_of_back_to_back -- float64
Column not in cat_vars or num_vars
Unique values: 3
Null count: 451958

lag_1_START_POSITION -- object
NaN    350192
F       91805
G       91791
C       45874
Name: lag_1_START_POSITION, dtype: int64
Unique values: 4
Null count: 350192

lag_1_comment_code -- object
NaN                                         486269
DNP                                          77706
DND                                          11064
NWT                                           4093
Did Not Dress                                  264
Not With Team                                   71
NWT_NOT_WITH_TEAM                               35
Name: lag_1_comment_code, dtype: int64
Unique values: 38
Null count: 486269

lag_1_comment_reason -- object
NaN                     486318
Coach's Decision         75963
Injury/Illness            3328
Sprained Left Ankle        377
Sprained Right Ankle       262
Rest                       246
Personal Reasons           232
Name: lag_1_comment_reason, dtype: int64
Unique values: 3379
Null count: 486318

lag_1_WIN -- float64
count    569824.000000
mean          0.501132
std           0.499999
min           0.000000
1%            0.000000
10%           0.000000
25%           0.000000
50%           1.000000
75%           1.000000
90%           1.000000
99%           1.000000
max           1.000000
Name: lag_1_WIN, dtype: float64
number of outliers: 0
Unique values: 3
Null count: 9838

lag_1_MIN -- float64
count    476431.000000
mean         23.298546
std          11.197044
min           0.000000
1%            1.000000
10%           6.766667
25%          15.033333
50%          23.916667
75%          32.233333
90%          37.616667
99%          44.533333
max          60.333333
Name: lag_1_MIN, dtype: float64
number of outliers: 8
max outlier value: 60.333333333333336
min outlier value: 58.86666666666667
Unique values: 3242
Null count: 103231

lag_1_FGM_pm -- float64
Column not in cat_vars or num_vars
Unique values: 17498
Null count: 103231

lag_1_FGA_pm -- float64
Column not in cat_vars or num_vars
Unique values: 27755
Null count: 103231

lag_1_FG3M_pm -- float64
Column not in cat_vars or num_vars
Unique values: 9383
Null count: 103231

lag_1_FG3A_pm -- float64
Column not in cat_vars or num_vars
Unique values: 16248
Null count: 103231

lag_1_FTM_pm -- float64
Column not in cat_vars or num_vars
Unique values: 15799
Null count: 103231

lag_1_FTA_pm -- float64
Column not in cat_vars or num_vars
Unique values: 18338
Null count: 103231

lag_1_REB_pm -- float64
Column not in cat_vars or num_vars
Unique values: 22506
Null count: 103231

lag_1_AST_pm -- float64
Column not in cat_vars or num_vars
Unique values: 16713
Null count: 103231

lag_1_STL_pm -- float64
Column not in cat_vars or num_vars
Unique values: 8021
Null count: 103231

lag_1_BLK_pm -- float64
Column not in cat_vars or num_vars
Unique values: 7862
Null count: 103231

lag_1_TO_pm -- float64
Column not in cat_vars or num_vars
Unique values: 10550
Null count: 103231

lag_1_PTS_pm -- float64
Column not in cat_vars or num_vars
Unique values: 38489
Null count: 103231

lag_1_PLUS_MINUS_pm -- float64
count    476431.000000
mean         -0.078855
std           1.816480
min        -180.000000
1%           -2.288136
10%          -0.759494
25%          -0.362660
50%           0.000000
75%           0.299003
90%           0.618557
99%           1.538462
max         240.000000
Name: lag_1_PLUS_MINUS_pm, dtype: float64
number of outliers: 22619
max outlier value: 240.0
min outlier value: -180.0
Unique values: 71657
Null count: 103231

lag_1_PF_pm -- float64
count    476431.000000
mean          0.100859
std           0.395198
min           0.000000
1%            0.000000
10%           0.000000
25%           0.035253
50%           0.079365
75%           0.130577
90%           0.196937
99%           0.461538
max          60.000000
Name: lag_1_PF_pm, dtype: float64
number of outliers: 20064
max outlier value: 60.0
min outlier value: 0.2736602052451539
Unique values: 10554
Null count: 103231

lag_1_game_played -- float64
Column not in cat_vars or num_vars
Unique values: 3
Null count: 9838

avg_2_3_WIN -- float64
count    564401.000000
mean          0.500882
std           0.478975
min           0.000000
1%            0.000000
10%           0.000000
25%           0.000000
50%           0.500000
75%           1.000000
90%           1.000000
99%           1.000000
max           1.000000
Name: avg_2_3_WIN, dtype: float64
number of outliers: 0
Unique values: 4
Null count: 15261

avg_4_9_WIN -- float64
count    549846.000000
mean          0.501017
std           0.428237
min           0.000000
1%            0.000000
10%           0.000000
25%           0.000000
50%           0.500000
75%           1.000000
90%           1.000000
99%           1.000000
max           1.000000
Name: avg_4_9_WIN, dtype: float64
number of outliers: 0
Unique values: 14
Null count: 29816

avg_10_19_WIN -- float64
count    505281.000000
mean          0.501669
std           0.368675
min           0.000000
1%            0.000000
10%           0.000000
25%           0.111111
50%           0.500000
75%           0.888889
90%           1.000000
99%           1.000000
max           1.000000
Name: avg_10_19_WIN, dtype: float64
number of outliers: 0
Unique values: 34
Null count: 74381

avg_20_35_WIN -- float64
count    431639.000000
mean          0.502201
std           0.295896
min           0.000000
1%            0.000000
10%           0.076923
25%           0.250000
50%           0.500000
75%           0.750000
90%           0.923077
99%           1.000000
max           1.000000
Name: avg_20_35_WIN, dtype: float64
number of outliers: 0
Unique values: 82
Null count: 148023

avg_36_85_WIN -- float64
count    320289.000000
mean          0.503725
std           0.176170
min           0.000000
1%            0.053883
10%           0.282609
25%           0.390244
50%           0.500000
75%           0.617021
90%           0.723404
99%           0.961538
max           1.000000
Name: avg_36_85_WIN, dtype: float64
number of outliers: 6386
max outlier value: 1.0
min outlier value: 0.0
Unique values: 767
Null count: 259373

avg_2_3_MIN -- float64
count    530655.000000
mean         22.902907
std           9.902818
min           0.000000
1%            1.500000
10%           8.925000
25%          15.866667
50%          23.541667
75%          30.383333
90%          35.516667
99%          42.533333
max          59.533333
Name: avg_2_3_MIN, dtype: float64
number of outliers: 79
max outlier value: 59.5333333333333
min outlier value: 52.183333333333074
Unique values: 350196
Null count: 49007

avg_4_9_MIN -- float64
count    548064.000000
mean         23.209234
std           6.194558
min           0.400000
1%            9.070525
10%          14.936667
25%          18.925000
50%          23.433333
75%          27.550000
90%          31.036667
99%          36.920308
max          55.566667
Name: avg_4_9_MIN, dtype: float64
number of outliers: 1860
max outlier value: 55.56666666666659
min outlier value: 0.3999999999999289
Unique values: 321215
Null count: 31598

avg_10_19_MIN -- float64
count    504822.000000
mean         23.507403
std           3.843751
min           1.550000
1%           14.685992
10%          18.659259
25%          20.938333
50%          23.472222
75%          26.011528
90%          28.375000
99%          32.930952
max          45.575000
Name: avg_10_19_MIN, dtype: float64
number of outliers: 5481
max outlier value: 45.57500000000001
min outlier value: 1.5500000000000105
Unique values: 112620
Null count: 74840

avg_20_35_MIN -- float64
count    431035.000000
mean         23.564782
std           3.061562
min           4.429167
1%           16.658333
10%          19.738333
25%          21.510000
50%          23.501389
75%          25.550000
90%          27.475000
99%          31.106944
max          46.450000
Name: avg_20_35_MIN, dtype: float64
number of outliers: 4540
max outlier value: 46.45
min outlier value: 4.429166666666677
Unique values: 107878
Null count: 148627

avg_36_85_MIN -- float64
count    319746.000000
mean         23.658814
std           1.806719
min          10.790000
1%           19.341314
10%          21.451093
25%          22.501136
50%          23.641870
75%          24.799020
90%          25.883784
99%          28.059524
max          37.723333
Name: avg_36_85_MIN, dtype: float64
number of outliers: 4902
max outlier value: 37.723333333333336
min outlier value: 10.789999999999996
Unique values: 165474
Null count: 259916

avg_2_3_FGM_pm -- float64
Column not in cat_vars or num_vars
Unique values: 433850
Null count: 49007

avg_4_9_FGM_pm -- float64
Column not in cat_vars or num_vars
Unique values: 533057
Null count: 31598

avg_10_19_FGM_pm -- float64
Column not in cat_vars or num_vars
Unique values: 477655
Null count: 74840


In [7]:
# explore_ts_min.target_variable(target='MIN')

In [43]:
labels = ['MIN'] # ['MIN', 'PTS']
df_ts_min = df_ts[labels + cat_features_min + num_features_min].copy()
df_ts_min

,MIN,HOME,lag_1_START_POSITION,lag_1_comment_code,lag_1_comment_reason,days_since_last_game,days_until_next_game,season_short,percentage_regular_season_games,lag_1_WIN,...,lag_1_played_in_first_game_of_back_to_back_season,lag_2_played_in_first_game_of_back_to_back_season,lag_1_played_in_second_game_of_back_to_back_season,lag_2_played_in_second_game_of_back_to_back_season,avg_3_22_MIN_season,avg_3_22_game_played_season,avg_3_22_PLUS_MINUS_pm_season,avg_3_22_PF_pm_season,avg_3_22_played_in_first_game_of_back_to_back_season,avg_3_22_played_in_second_game_of_back_to_back_season
0,33.433333,0,NaN,NaN,NaN,6,1,2004,0.012195,NaN,...,NaN,NaN,NaN,NaN,37.245850,0.966117,0.040783,0.061334,0.957685,0.940702
1,33.183333,0,NaN,NaN,NaN,6,1,2004,0.012195,NaN,...,NaN,NaN,NaN,NaN,30.495325,0.922027,-0.009005,0.068593,0.930651,0.924901
2,13.700000,0,NaN,NaN,NaN,6,1,2004,0.012195,NaN,...,NaN,NaN,NaN,NaN,28.490421,0.879643,-0.066144,0.086062,0.922883,0.879047
3,28.983333,0,NaN,NaN,NaN,6,1,2004,0.012195,NaN,...,NaN,NaN,NaN,NaN,29.604933,0.917349,0.070746,0.065687,0.917152,0.924146
4,28.666667,0,NaN,NaN,NaN,6,1,2004,0.012195,NaN,...,NaN,NaN,NaN,NaN,24.926027,0.952234,0.036786,0.128981,0.958327,0.951249
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
579657,15.750000,0,NaN,NaN,NaN,2,0,2023,0.402439,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
579658,13.883333,0,NaN,NaN,NaN,2,0,2023,0.402439,1.0,...,0.909091,0.888889,0.909091,1.000000,26.919653,0.898917,0.006825,0.079604,0.888890,0.893185
579659,3.183333,0,NaN,DNP,Coach's Decision,2,0,2023,0.402439,0.0,...,0.500000,0.571429,0.500000,0.500000,12.915897,0.586235,-0.756749,0.123031,0.833333,0.500000
579660,3.183333,0,NaN,DNP,Coach's Decision,2,0,2023,0.402439,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
579661,3.183333,0,NaN,DNP,Coach's Decision,2,0,2023,0.402439,1.0,...,0.538462,0.312500,0.615385,0.352941,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
# train data is season_short 2007-2018 and 2021, validation data is 2019 and 2022, test data is 2020 and 2023
train_mask = (df_ts_min['season_short'].between(2007, 2018)) | (df_ts_min['season_short'] == 2021)
val_mask = (df_ts_min['season_short'] == 2019) | (df_ts_min['season_short'] == 2022)
test_mask = (df_ts_min['season_short'] == 2020)| (df_ts_min['season_short'] == 2023)
train_data_min = df_ts_min.loc[train_mask]
val_data_min = df_ts_min.loc[val_mask]
test_data_min = df_ts_min.loc[test_mask]

## seperate each of train, val, and test into their own X and y
X_train_min = train_data_min.drop(labels, axis=1)
y_train_min = train_data_min[labels]
X_val_min = val_data_min.drop(labels, axis=1)
y_val_min = val_data_min[labels]
X_test_min = test_data_min.drop(labels, axis=1)
y_test_min = test_data_min[labels]

feautes_min = X_train_min.columns.tolist()

print('train features shape:', X_train_min.shape)
print('train labels shape:', y_train_min.shape)
print('val data shape:', val_data_min.shape)
print('test data shape:', test_data_min.shape)

train features shape: (390303, 60)
train labels shape: (390303, 1)
val data shape: (62284, 61)
test data shape: (39793, 61)

In [33]:
## TODO
## 0. Split data into train validate test
## 1. Get variables with missing data for categorical and numerical
# get fields in num_features_min and cat_features_min that have missing data

In [39]:
from feature_engine.imputation import CategoricalImputer, AddMissingIndicator, MeanMedianImputer
from feature_engine.encoding import RareLabelEncoder, OneHotEncoder
from sklearn.preprocessing import StandardScaler, MinMaxScaler

num_features_min_missing = [col for col in num_features_min if train_data_min[col].isnull().sum() > 0]
cat_features_min_missing = [col for col in cat_features_min if train_data_min[col].isnull().sum() > 0]
print(f'num_features_min_missing ({len(num_features_min_missing)}): {num_features_min_missing}')
print(f'cat_features_min_missing ({len(cat_features_min_missing)}): {cat_features_min_missing}')

print('Imputing categorical variables with missing data...')
cat_imputer = CategoricalImputer(
    imputation_method="missing",
    variables=cat_features_min_missing,
)
cat_imputer.fit(X_train_min)
X_train_min = cat_imputer.transform(X_train_min)
X_val_min = cat_imputer.transform(X_val_min)
X_test_min = cat_imputer.transform(X_test_min)

print('Adding missing indicator for categorical variables...')
num_missing_indicator = AddMissingIndicator(variables=num_features_min_missing)
num_missing_indicator.fit(X_train_min)
X_train_min = num_missing_indicator.transform(X_train_min)
X_val_min = num_missing_indicator.transform(X_val_min)
X_test_min = num_missing_indicator.transform(X_test_min)

print('Imputing numerical variables with mean...')
meanimputer = MeanMedianImputer(
    imputation_method="mean",
    variables=num_features_min_missing,
)
meanimputer.fit(X_train_min)
X_train_min = meanimputer.transform(X_train_min)
X_val_min = meanimputer.transform(X_val_min)
X_test_min = meanimputer.transform(X_test_min)

print('Encoding rare labels in categorical variables...')
encoder = RareLabelEncoder(
    tol=0.01, n_categories=1, variables=cat_features_min, ignore_format=True
)
encoder.fit(X_train_min)
X_train_min = encoder.transform(X_train_min)
X_val_min = encoder.transform(X_val_min)
X_test_min = encoder.transform(X_test_min)

## NOTE: new categories are automatically ignored
print('One hot encoding categorical variables...')
ohe = OneHotEncoder(
    drop_last_binary=True,
    variables=cat_features_min, ignore_format=True
)
ohe.fit(X_train_min)
X_train_min = ohe.transform(X_train_min)
X_val_min = ohe.transform(X_val_min)
X_test_min = ohe.transform(X_test_min)


print('Scaling numerical variables...')
scaler = MinMaxScaler()  # do you need a scaler with randomforest and lightgbm? -- no
scaler.fit(X_train_min)
X_train_min = scaler.transform(X_train_min)
X_val_min = scaler.transform(X_val_min)
X_test_min = scaler.transform(X_test_min)

print('train features shape:', X_train_min.shape)
print('train labels shape:', y_train_min.shape)

num_features_min_missing (51): ['lag_1_WIN', 'lag_1_MIN', 'lag_1_PLUS_MINUS_pm', 'lag_1_PF_pm', 'avg_2_3_WIN', 'avg_4_9_WIN', 'avg_10_19_WIN', 'avg_20_35_WIN', 'avg_36_85_WIN', 'avg_2_3_MIN', 'avg_4_9_MIN', 'avg_10_19_MIN', 'avg_20_35_MIN', 'avg_36_85_MIN', 'avg_2_3_PLUS_MINUS_pm', 'avg_4_9_PLUS_MINUS_pm', 'avg_10_19_PLUS_MINUS_pm', 'avg_20_35_PLUS_MINUS_pm', 'avg_36_85_PLUS_MINUS_pm', 'avg_2_3_PF_pm', 'avg_4_9_PF_pm', 'avg_10_19_PF_pm', 'avg_20_35_PF_pm', 'avg_36_85_PF_pm', 'avg_1_20_played_in_first_game_of_back_to_back', 'avg_21_90_played_in_first_game_of_back_to_back', 'avg_1_20_played_in_second_game_of_back_to_back', 'avg_21_90_played_in_second_game_of_back_to_back', 'avg_2_3_game_played', 'avg_4_9_game_played', 'avg_10_19_game_played', 'avg_20_35_game_played', 'avg_36_85_game_played', 'lag_1_MIN_season', 'lag_2_MIN_season', 'lag_1_game_played_season', 'lag_2_game_played_season', 'lag_1_PLUS_MINUS_pm_season', 'lag_2_PLUS_MINUS_pm_season', 'lag_1_PF_pm_season', 'lag_2_PF_pm_season', 'lag_1_played_in_first_game_of_back_to_back_season', 'lag_2_played_in_first_game_of_back_to_back_season', 'lag_1_played_in_second_game_of_back_to_back_season', 'lag_2_played_in_second_game_of_back_to_back_season', 'avg_3_22_MIN_season', 'avg_3_22_game_played_season', 'avg_3_22_PLUS_MINUS_pm_season', 'avg_3_22_PF_pm_season', 'avg_3_22_played_in_first_game_of_back_to_back_season', 'avg_3_22_played_in_second_game_of_back_to_back_season']
cat_features_min_missing (3): ['lag_1_START_POSITION', 'lag_1_comment_code', 'lag_1_comment_reason']
Imputing categorical variables with missing data...
Adding missing indicator for categorical variables...
Imputing numerical variables with mean...
Encoding rare labels in categorical variables...
One hot encoding categorical variables...
Scaling numerical variables...
train features shape: (390303, 120)
train labels shape: (390303,)

In [42]:
np.isnan(X_train_min)

array([[False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       ...,
       [ True, False, False, ..., False, False, False],
       [ True, False, False, ..., False, False, False],
       [ True, False, False, ..., False, False, False]])

In [41]:
X_train_min_df = pd.DataFrame(X_train_min, columns=feautes_min)
X_train_min_df

ValueError: Shape of passed values is (390303, 120), indices imply (390303, 61)

In [35]:
# count na in numpy array
# X_train_min_df = pd.DataFrame(X_train_min, columns=feautes_min)
X_train_min_df
# X_train_min_df.isna().sum()

,PTS,HOME,lag_1_START_POSITION,lag_1_comment_code,lag_1_comment_reason,days_since_last_game,days_until_next_game,season_short,percentage_regular_season_games,lag_1_WIN,...,lag_1_played_in_first_game_of_back_to_back_season,lag_2_played_in_first_game_of_back_to_back_season,lag_1_played_in_second_game_of_back_to_back_season,lag_2_played_in_second_game_of_back_to_back_season,avg_3_22_MIN_season,avg_3_22_game_played_season,avg_3_22_PLUS_MINUS_pm_season,avg_3_22_PF_pm_season,avg_3_22_played_in_first_game_of_back_to_back_season,avg_3_22_played_in_second_game_of_back_to_back_season
87282,12.0,0,NaN,NaN,NaN,4,1,2007,0.012195,NaN,...,0.954545,1.000000,1.000000,1.000000,28.019382,0.922665,-0.054343,0.080289,0.942178,0.917993
87283,4.0,0,NaN,NaN,NaN,4,1,2007,0.012195,NaN,...,1.000000,1.000000,1.000000,1.000000,27.356252,0.969915,0.073358,0.093883,0.948219,0.990909
87284,5.0,0,NaN,NaN,NaN,4,1,2007,0.012195,NaN,...,1.000000,0.904762,1.000000,0.950000,29.795012,0.963761,-0.014631,0.071157,0.951485,0.953110
87285,6.0,0,NaN,NaN,NaN,4,1,2007,0.012195,NaN,...,1.000000,1.000000,1.000000,1.000000,31.984808,0.932976,-0.039328,0.105305,0.946520,0.876369
87286,26.0,0,NaN,NaN,NaN,4,1,2007,0.012195,NaN,...,1.000000,0.909091,1.000000,0.954545,29.897538,0.921770,-0.086318,0.095643,0.915117,0.901664
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
535990,NaN,0,NaN,DNP,Coach's Decision,2,2,2021,0.902439,1.0,...,0.888889,NaN,0.875000,NaN,27.889859,0.984881,-0.111731,0.078646,1.000000,0.980000
535991,NaN,0,NaN,DNP,Coach's Decision,2,2,2021,0.902439,1.0,...,0.888889,0.714286,0.750000,0.714286,22.436448,0.790437,-0.227446,0.087113,0.791733,0.783842
535992,NaN,0,NaN,DNP,Coach's Decision,2,2,2021,0.902439,1.0,...,0.500000,NaN,0.571429,NaN,NaN,NaN,NaN,NaN,NaN,NaN
535993,NaN,0,NaN,DNP,Coach's Decision,2,2,2021,0.902439,1.0,...,NaN,NaN,NaN,NaN,13.407331,0.702771,-0.395236,0.131905,0.555556,1.000000
535994,NaN,0,NaN,DNP,Coach's Decision,2,2,2021,0.902439,1.0,...,1.000000,1.000000,1.000000,1.000000,27.288122,0.840751,-0.044148,0.109962,0.827586,0.828339

In [36]:

cat_imputer = CategoricalImputer(
    imputation_method="missing",
    variables=cat_features_min_missing,
)
cat_imputer.fit(X_train_min)
X_train_min = cat_imputer.transform(X_train_min)
X_train_min

KeyError: "None of [Index(['lag_1_START_POSITION', 'lag_1_comment_code', 'lag_1_comment_reason'], dtype='object')] are in the [columns]"

In [22]:
## TODO - use multi-output regressor - https://machinelearningmastery.com/multi-output-regression-models-with-python/

In [23]:
from boruta import BorutaPy
from sklearn.ensemble import RandomForestRegressor

# instantiate random forest
forest = RandomForestRegressor(n_jobs = -1, max_depth = 5)

# fit boruta
boruta_selector = BorutaPy(forest, n_estimators = 'auto', random_state = 0)
boruta_selector.fit(np.array(X_train_min), np.array(y_train_min))

# store results
boruta_ranking = boruta_selector.ranking_
selected_features = np.array(cat_features_min + num_features_min)[boruta_ranking <= 2]

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [ ]:
## 2. Decide missing vs frequent imputation for categorical vars, mean vs value imputation for numerical
## 3. Create categorical mappers
## 4. How to encode categorical variables (ordinal, one-hot, etc)
## 5. How to scale numerical variables (min-max, standard, etc)
## 6. Gradient boosting